= f.label 'Name:'
= @unlockable.asin.present? ? ( f.text_field :name ) : @unlockable.name
= f.label 'Avatar'
= avatar_tag @unlockable
= @unlockable.asin.present? ? ( file_field_tag :attached_avatar_file ) : ""
= f.label 'Description:'
= @unlockable.asin.present? ? ( f.text_area :description ) : @unlockable.description.html_safe 
= f.label 'Points:'
= f.text_field :points
= f.label 'Level Required:'
= f.text_field :level
%br
= f.submit "Enter", :class => 'button'