- content_for :left_column do
	.new.button
		= link_to image_tag( 'add.png', :width => 20 ), new_unlockable_path
		= link_to 'New', new_unlockable_path
	
	%h1 Unlockables Admin
	
	%table.admin_table
		%th
		%th Name
		%th Points
		%th Level
		- for unlockable in @unlockables
			%tr
				%td
					= link_to avatar_tag( unlockable, :thumb ), unlockable_path( unlockable )
				%td
					= link_to unlockable.name, unlockable_path( unlockable )
				%td
					= unlockable.points_req
				%td
					= unlockable.level_req
				%td
					= link_to image_tag( 'edit.png', :width => 20 ), edit_unlockable_path( unlockable )
					= link_to 'edit', edit_unlockable_path( unlockable )
				%td
					= link_to image_tag( 'trash.png', :width => 20 ), unlockable_path( unlockable )
					= link_to 'delete', unlockable_path( unlockable )
					
					
- content_for :right_column do
	%br
	Add, edit, delete unlockables here....