%h1 
	New Question for
	= @quiz.name

= form_for [ @quiz, @question ], :html => { :mutipart => true } do |f|
	= render 'form', :f => f
	.actions
		= f.submit 'Create', :class => 'button'
		|
		= link_to 'Cancel', :back
