- content_for :left_column do
	%h1 
		= @quiz.name
	%h2
		Question Number
		=@question.seq
	= @question.content
	- for answer in @question.answers
		.answer
			= radio_button_tag :answer, answer.id
			= answer.content
	= submit_tag "Enter"

