.child_profile
	= render 'children/sub_nav', :child => @child
	
	- if @checkins.empty?			
		.top-header.clearfix
			%span.title
				= @child.display_name
				hasn't checked in on any goals yet.
	- else
		.top-header.clearfix
			%span.title
				These activities need to be approved or unapproved

		%table( width=600 )
			%th Activity
			%th Date
			%th Action
		
			- for checkin in @checkins
				%tr
					%td= checkin.objective_assignment.objective.name
					%td= format_date checkin.created_at
					%td
						= link_to "Approve", checkin_path( checkin, :confirmed_by => @current_user.id, :confirmed_at => Time.now ), :method => :put
						|
						= link_to "Ignore", checkin_path( checkin, :confirmed_by => -1, :confirmed_at => Time.now ), :method => :put
				
