- unless @current_user.award_assignments.active.empty?
	#home_prizes.boxes
		%h3 Your Prizes
		- for assignment in @current_user.award_assignments.active
			.item
				= link_to avatar_tag( assignment.award, :thumb, :width => 64 ), unlock_award_path( assignment.award, :type => 'award' )
				%br
				%b= assignment.award.name
				%br
				- if assignment.point_cost > @current_user.point_balance
					Only
					= assignment.point_cost - @current_user.point_balance
					Points to Go!
				- else
					= link_to "Unlock It!", unlock_award_path( assignment.award, :type => 'award' )
				
		.clear
		.treasure_box.clearfix
			= link_to image_tag( 'treasure_chest.png' ), awards_path
			.col
				= link_to 'Go to Treasure Chest', awards_path
			
#home_news.boxes
	%h3
		Your Supporters
	- for supporter in @current_user.relatives
		= avatar_tag( supporter, :thumb, :width => 25 )
		= supporter.nickname( @current_user )
		= link_to image_tag( 'pencil.png' ), new_note_path( :to => supporter.id )
		= link_to "Send Note", new_note_path( :to => supporter.id )
		.divider