- unless @current_user.award_assignments.active.empty?
	#home_prizes.boxes
		%h3 Your Prizes
		- for assignment in @current_user.award_assignments.active
			.treasure_item
				%b= snip assignment.award.name, 20
				%br
				= link_to avatar_tag( assignment.award, :thumb, :width => 64 ), unlock_award_path( assignment.award, :type => 'award' )
				%br
				.cost
					Cost:
					= assignment.point_cost
					cherries
				- if assignment.point_cost > @current_user.point_balance
					Only
					= assignment.point_cost - @current_user.point_balance
					cherries to Go!
				- else
					= link_to "Unlock It!", unlock_award_path( assignment.award, :type => 'award' )
				
		.clear
		.treasure_box.clearfix
			= link_to image_tag( 'treasure_chest.png' ), awards_path
			.col
				= link_to 'Go to Treasure Chest', awards_path
			
#home_news.boxes
	%h3
		Your Supporters
	- for supporter in @current_user.relatives
		%p.clearfix
			= avatar_tag( supporter, :thumb, :width => 25 )
			
			= supporter.nickname( @current_user )
			%span.button_flat
				= link_to new_note_path( :to => supporter.id ) do
					%span + Send Note
			
