- if @current_user.is_child?
	= render 'children/banner'
	= render 'children/nav'
- else
	= render 'users/banner'
	= render 'users/nav'

#sticker_nav
	= link_to 'Edit Entry', edit_child_journal_entry_path( @current_user, @entry )
	|
	= link_to 'Sticker Drawer', "#", :id => :open_sticker_drawer
	|
	= form_for [ @current_user, @entry ] do |f|
		Font: 
		= f.collection_select :font_id, @fonts, :id, :name, { :prompt => 'Plain' }, :class => 'font_select'
		Background:
		= f.collection_select :background_id, @backgrounds, :id, :name, { :prompt => 'Plain' }, :class => 'bg_select'
		= f.submit 'Done!'

#sticker_drawer
	- if @stickers.empty?
		No Stickers Yet.  You can buy some in the
		= link_to 'Treasure Chest', awards_path
	- for sticker_owning in @stickers
		.sticker
			= form_for PageElement.new do |f|
				= f.hidden_field :sticker_id, :value => sticker_owning.ownable.id
				= f.hidden_field :page_id, :value => @entry.id
				= f.hidden_field :page_type, :value => @entry.class.name
				= image_submit_tag sticker_owning.ownable.avatar.location, :width => 64
	%br.clear
.journal_entry{ :class => @entry.css }
	.entry_data
		= format_date @entry.created_at
		%br
		By:
		= @entry.journal.user.display_name
	.entry_title
		= @entry.title
	.entry_content
		= @entry.content.html_safe
	= render @entry.page_elements, :editable => true
	

