- if @current_user.is_child?
	= render 'children/banner'
	= render 'children/nav'
- else
	= render 'users/banner'
	= render 'users/nav'
	
	
= link_to "New Entry", new_child_journal_entry_path( @current_user )

- for entry in @entries
	%div[entry]
		%b= link_to entry.title, child_journal_entry_path( @current_user, entry )
		%p
			= entry.content