- if @current_user.is_child?
	= render 'children/banner'
	= render 'children/nav'
- else
	= render 'users/banner'
	= render 'users/nav'

.journal_entry
	.entry_data
		= format_date @entry.created_at
		%br
		By:
		= @entry.journal.user.display_name
	.entry_title
		= @entry.title
	.entry_content
		= @entry.content.html_safe
	- for page_element in @entry.page_elements
		%div[page_element]{ :style => "top:#{page_element.top}px; left:#{page_element.left}px;" }
			= image_tag page_element.sticker.avatar.location, :width => page_element.width


- unless @entry.comments.empty?
	#comments
		%h3 Comments
		= render @entry.comments
#comment
	= render 'comments/new'