- if @current_user.is_child?
	= render 'children/banner'
	= render 'children/nav'
- else
	= render 'users/banner'
	= render 'users/nav'

.journal_entry
	.journal_entry
		.entry_data
			= format_date @entry.created_at
			%br
			By:
			= @entry.journal.user.display_name
		.entry_title
			= @entry.title
		.entry_content
			= @entry.content.html_safe
	- for sticking in @entry.stickings
		%div[sticking]{ :style => "top:#{sticking.top}px; left:#{sticking.left}px;" }
			= image_tag sticking.sticker.avatar.location, :width => sticking.width


- unless @entry.comments.empty?
	#comments
		%h3 Comments
		= render @entry.comments
#comment
	= render 'comments/new'