- content_for :left_column do
	.new.button
		= link_to image_tag( 'add.png', :width => 20 ), new_quiz_path
		= link_to 'New', new_quiz_path
	
	%h1 Quizzes Admin
	
	%table.admin_table
		%th
		%th Name
		%th Points
		%th Level
		- for quiz in @quizzes
			%tr
				%td
					= link_to quiz.name, quiz_path( quiz )
				%td
					= quiz.point_value
				%td
					= quiz.level
				%td
					= link_to image_tag( 'edit.png', :width => 20 ), edit_quiz_path( quiz )
					= link_to 'edit', edit_quiz_path( quiz )
				%td
					= link_to image_tag( 'trash.png', :width => 20 ), quiz_path( quiz )
					= link_to 'delete', quiz_path( quiz )
					
					
- content_for :right_column do
	%br
	Add, edit, delete quizzes here....