= render 'children/banner', :title => 'Messages'
= render 'children/nav'
.left_nav
	- if @messages.present?
		%h3 Your Messages:
		- for msg in @messages
			%b= msg.subject
			%br
			= msg.content
	- else
		%h3 No Messages
	
	- if @sent_messages.present?
		%h3 Your Sent Messages
		- for msg in @sent_messages
			%b= msg.subject
	- else
		%h3 No Sent Messages
