- if @current_user.anonymous?
	.form_group.login
		%h1
			Login to your account:
		%div.clear
		
		#child_login
			%h3 Children:
			= form_tag :controller=>'sessions' do
				%label
					Name:
				= text_field_tag :credential, params[:credential], :class => :regular, :placeholder => 'Name'
				%br
				%label
					PIN:
				= password_field_tag :password, params[:password], :class => :regular, :placeholder => 'PIN'

				%br
			
				= submit_tag	"Login", :class => 'button blue'
				|
				= link_to "Forgot Password?", forgot_path
			
			
		#adult_login
			%h3 Adults:
			= form_tag :controller=>'sessions' do
				%label
					Email:
				= text_field_tag :credential, params[:credential], :class => :regular, :placeholder => 'Email'
				%br
				%label
					Password:
				= password_field_tag :password, params[:password], :class => :regular, :placeholder => 'Password'
				%br
			
				= submit_tag	"Login", :class => 'button blue'
				|
				= link_to "Forgot Password?", forgot_path
		
			
- else
	%h2 
		You are already logged in as:
		= @current_user.name
	If this is not you, please 
	= link_to "Logout", logout_path
	and log back in with your account.
