- if @current_user.anonymous?
	.form_group.login
		%h1
			Login to your account:
		%div.clear
		%div.clear
		= form_tag :controller=>'sessions' do
			%label
				- if current_page?( login_children_path )
					Name:
				- else
					Email:
			= text_field_tag :credential, params[:credential], :class => :regular
			%div.clear
			%label
				- if current_page?( login_children_path )
					PIN:
				- else
					Password:
			= password_field_tag :password, params[:password], :class => :regular
			
			%div.clear
			%br
			
			= submit_tag	"Login", :class => 'button blue'
			|
			= link_to 'Cancel', root_path, :class => :cancel_button
			|
			= link_to 'Register', register_path
			|
			= link_to "Forgot Password?", forgot_path
			
- else
	%h2 
		You are already logged in as:
		= @current_user.name
	If this is not you, please 
	= link_to "Logout", logout_path
	and log back in with your account.
