.form_group
	%h1
		Let's get started!
	= form_for @user do |f|
		= hidden_field_tag :dest, @dest
		= hidden_field_tag :a, @a
		.fields

			= f.label "Email"
			= f.text_field :email, :class => :login_email

			= f.label :name, "User Name"
			= f.text_field :name, :class => :login_email

			= f.label :password, "Password"
			= f.password_field :password, :class => :login_email

			= f.label :password_confirmation, "Confirm Password"
			= f.password_field :password_confirmation, :class => :login_email
			%br
			%br
			= f.submit 'Register', :class => "button"
			|
			= link_to 'Login', new_session_path
			|
			= link_to 'Cancel', root_path
