.form_group
	%h1
		Let's get started!
	= form_for @user do |f|
		.fields

			= f.label :name, "User Name"
			= f.text_field :name, :class => :regular

			= f.label :password, "Password"
			= f.password_field :password, :class => :regular

			= f.label :password_confirmation, "Confirm Password"
			= f.password_field :password_confirmation, :class => :regular
			%br
			%br
			= f.submit 'Register', :class => "button"
			|
			= link_to 'Login', new_session_path
			|
			= link_to 'Cancel', root_path
