.form_group.register-form
	%h1
		Register here
	%p
		Set up your account below, then follow a few simple steps to get your children going on the CherryTree.
	= form_for @user do |f|
		.fields.register

			= f.label "Email"
			= f.text_field :email, :class => :regular, :placeholder => 'Email'
			%div.clear
			
			= f.label :name, "First Name"
			= text_field_tag :fname, '', :class => :regular, :size => '30', :placeholder => 'First Name'
			
			%div.clear
			
			= f.label :name, "Last Name"
			= text_field_tag :lname, '', :class => :regular, :size => '30', :placeholder => 'Last Name'

			%div.clear

			= f.label :password, "Password"
			= f.password_field :password, :class => :regular, :placeholder => 'Password'
			
			%div.clear
			

			= f.label :password_confirmation, "Confirm Password"
			= f.password_field :password_confirmation, :class => :regular, :placeholder => 'Confirm Password'
			%br
			%div.clear

			%label
				= check_box_tag :subscribe_to_newsletter, 1, true
			%div.left_up_indent
				Send me CherryTree news, updates, and offers.
			
			%div.clear	

			%label
				&nbsp;
			= f.submit 'Register', :class => "button blue"
			|
			= link_to 'Login', new_session_path
			|
			= link_to 'Cancel', root_path
