.form_group
	%h1
		Hi
		= @user.name
	%br	
	Let's get started.  Your email is 
	= @user.email
	
	Let's create a password for you.
	%br
	%br
		
	= form_tag reset_path do
		.fields 
		%label New Password:
		= password_field_tag :password, params[:password], :size=>30, :class=>"password"

		%br
		
		%label Confirm Password:
		= password_field_tag :password_confirmation, params[:password_confirmation], :size=>30, :class=>"password"
		= hidden_field_tag :invite_code, @invite_code 
		%br
		= submit_tag "Change Password", :class => 'button'

		
