- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h1 
			Edit
			= @forum.title
			Forum
		= form_for [ @current_author, @forum ] do |f|
			= render 'form', :f => f
			.actions
				= f. submit 'Update', :class => 'button'
		
- content_for :right_column do
	= render 'shared/help'