.archived_note{ :class => note.css }
	.archived_note_actions
		= link_to 'View', note
		| 
		= link_to 'Reply', new_note_path( :reply_to => note.id )
		|
		= link_to 'Trash', note, :method => :delete
		
	.subject
		= note.subject
	.from
		From:
		= note.sender.nickname( @current_user )
	.content
		= note.content



