.inline_label
	To:
.inline_field
	- if @reply_to_note
		= @reply_to_note.sender.nickname( @current_user )
		= f.hidden_field :recipient_id, :value => @reply_to_note.sender.id
	- else
		= f.select :recipient_id, @recipient_list
.inline_label
	Subject:
.inline_field
	= f.text_field :subject, :class => 'regular'
.inline_label
	Font:
.inline_field
	= f.select :font, [ ['Print', 'schoolbell'], ['Curly Print', 'sunshiney'], ['Cursive', 'homemade apple'] ]
- unless @current_user.is_child?
	.inline_label
		Points
	.inline_field
		= f.text_field :points
%br.clear
.note_content
	- if @reply_to_note
		= @reply_to_note.sender.nickname( @current_user )
		Said:
		%br
		= @reply_to_note.content
	= f.text_area :content
.actions
	= f.submit "Send", :class => 'green_button'

	= link_to 'Cancel', notes_path, :class => 'red_button'