.inline_label
	To:
.inline_field
	- if @reply_to_note
		= @reply_to_note.sender.nickname( @current_user )
		= f.hidden_field :recipient_id, :value => @reply_to_note.sender.id
	- else
		= f.select :recipient_id, @recipient_list
.inline_label
	Subject:
.inline_field
	= f.text_field :subject, :class => 'regular'
.inline_label
	Font:
.inline_field
	= f.collection_select :font_id, @fonts, :id, :name, { :prompt => 'Plain' }, :class => 'font_select'
.inline_label
	Background:
.inline_field
	= f.collection_select :background_id, @backgrounds, :id, :name, { :prompt => 'Plain' }, :class => 'bg_select'

%br.clear
.note_content
	#style_target
		- if @reply_to_note
			= @reply_to_note.sender.nickname( @current_user )
			Said:
			%br
			= @reply_to_note.content
		= f.text_area :content, :id => 'note_content'
.actions
	= f.submit "Send", :class => 'green_button'

	= link_to 'Cancel', notes_path, :class => 'red_button'