%div[note]{ :class => note.css }
	.subject
		= note.subject
	.from
		From:
		= note.sender.nickname( @current_user )
	%hr
	.content
		= snip( note.content, 150 )
		- if note.content.length > 150
			= link_to "More", note
	.note_footer
		= link_to "read", note
		= link_to "reply", new_note_path( :reply_to => note.id )