- if @current_user.is_child?
	= render 'children/banner'
	= render 'children/nav'
- else
	= render 'parents/nav'
.cork_board
	.note_nav.schoolbell
		.new_note
			%br
			= link_to image_tag( 'pencil.png', :width => 20 ), new_note_path
			%br
			= link_to "Write a Note", new_note_path, :class => 'tiny_green_button'
		.all_notes
			%br
			%br
			=link_to "Note Board", notes_path
	.note_main
		- for note in @notes
			= render "archived", :note => note
		
	%br.clear


