- if @current_user.is_child?
	= render 'children/banner'
	= render 'children/nav'
- else
	= render 'users/banner'
	= render 'users/nav'
.cork_board
	.note.schoolbell
		.new_note
			= link_to image_tag( 'pencil.png', :width => 80 ), new_note_path
			%br
			%br
			= link_to "Write a Note", new_note_path, :class => 'green_button'
	- for note in @notes
		%div[note]{ :class => note.font_class }
			.subject
				= note.subject
			.from
				From:
				= note.sender.display_name
			%hr
			.content
				= snip( note.content, 150 )
				- if note.content.length > 150
					= link_to "More", note
			.note_footer
				= link_to "read", note
				= link_to "reply", new_note_path( :reply_to => note.id )
	%br.clear


