- if @current_user.is_child?
	= render 'children/banner'
	= render 'children/nav'
- else
	= render 'users/banner'
	= render 'users/nav'
.cork_board
	.note.schoolbell
		.new_note
			= link_to image_tag( 'pencil.png', :width => 80 ), new_note_path
			%br
			%br
			= link_to "Write a Note", new_note_path, :class => 'green_button'
	= render @notes
		
	%br.clear


