- if @current_user.is_child?
	= render 'child/nav'
- else
	= render 'adult/nav'
.cork_board
	.note_nav.schoolbell
		.new_note
			%br
			= link_to image_tag( 'pencil.png', :width => 20 ), new_note_path
			%br
			= link_to "Write a Note", new_note_path, :class => 'tiny_green_button'
		.all_notes
			%br
			%br
			=link_to "All Notes", archive_notes_path
	.note_main
		= render @notes
		%br.clear
		
	%br.clear


