- if @current_user.is_child?
	= render 'children/banner'
	= render 'children/nav'
- else
	= render 'users/banner'
	= render 'users/nav'
.cork_board
	.note_detail{ :class => @note.font_class }
		.note_title
			= @note.subject
		.note_content
			From:
			= @note.sender.display_name
			%hr
			= @note.content
		.actions
			= link_to 'Reply', new_note_path( :to => @note.sender.id, :subject => "Re:#{@note.subject}"), :class => 'green_button'
			= link_to 'Delete', notes_path, :class => 'red_button'