%div[child]
	.pic
		= avatar_tag( child, :thumb )
	.name_nav
		.name
			= child.name
		.nav
			= link_to "Awards"
			|
			= link_to "Objectives"
			|
			= link_to "Profile"
			|
			= link_to "Send Note", new_note_path( :to => child.id )
	%hr.clear
	.timeline
		%p
			Stream of stuff related to this child.
		%p
			Maybe color-coded by importance, etc.
		%p
			Blah blah blah....
		