This child is a
= f.radio_button :gender, 'male'
boy
= f.radio_button :gender, 'female'
girl
%br
%span.gender
birthday is
= f.text_field :birthday, :class => 'birthday_field'
%br
%span.gender
	&nbsp;
name is
= f.text_field :name
%br
I am
%span.name 
	&nbsp
= f.select :role, [ ['Father', 'father'], ['Mother', 'mother'], ['Guardian', 'guardian'], ['Professional', 'pro'] ]
%br
PIN:
= f.text_field :pin

= f.label "Welcome Message:"
= f.text_area :welcome_message

%br
= f.submit "Add", :class => 'button'
