.form_group
	This child is a
	= f.radio_button :gender, 'male'
	boy
	= f.radio_button :gender, 'female'
	girl
	%br

	%span.gender
		&nbsp;
	name is
	= f.text_field :display_name
	
	Upload a Picture for
	%span.name
		&nbsp;
	= file_field_tag :attached_avatar_file

	%br
	%span.name_owner
		&nbsp;
	birthday is
	= f.text_field :birthday, :class => 'birthday_field'
	%br

	%br
	I am
	%span.name_owner
		&nbsp
	= f.select :role, [ ['Father', 'father'], ['Mother', 'mother'], ['Guardian', 'guardian'], ['Professional', 'pro'] ]
	
	%br
	%span.name
		&nbsp;
	calls me (your name or nickname):
	= f.text_field :nick
	
	%br
	Please Provide a unique login name for
	%span.name
		&nbsp;
	= f.text_field :name
	%br
	Please Provide a PIN Code or Password for
	%span.name
		&nbsp;
	= f.text_field :password

	= f.label "Welcome Message:"
	= f.text_area :welcome_message, :class => 'small_area'

	= f.label 'Favorite Books:'
	= f.text_field :favorite_book_list

	%br
	= f.submit "Add", :class => 'button'
