.form_group.add_child
	%label
		This child is a
	%div.roundy
		= f.radio_button :gender, 'male'
		boy
	%div.roundy
		= f.radio_button :gender, 'female'
		girl

	%div.clear
		
	%label
		%span.gender
		name is
	= f.text_field :display_name

	%div.clear	

	%label.pic
		Upload a Picture for
		%span.name
	= file_field_tag :attached_avatar_file, :class => 'button_flat'

	%div.clear
	
	%label.birthday
		%span.name_owner
		birthday is
	
	= f.text_field :birthday, :class => 'birthday_field'

	%div.divider
	
	%label
		I am
		%span.name_owner
	= f.select :role, [ ['Father', 'father'], ['Mother', 'mother'], ['Guardian', 'guardian'], ['Professional', 'pro'] ]
	
	%div.clear

	%label.nickname
		%span.name
		calls me (eg. 'mama' or 'paps'):
	= f.text_field :nick
	%div.divider
	
	%label.login
		Please Provide a unique login name for
		%span.name
	= f.text_field :name
	%span#name_availability
		&nbsp;

	%div.clear
	
	%label.password
		Please Provide a PIN Code or Password for 
		%span.name
	= f.text_field :password

	%div.divider

	%label
		&nbsp;
	= f.submit "Add", :class => 'button_flat'
