%h1
	= possessize @current_user.name
	Children
= render 'users/nav'

%h3 
	That's It!
	= @child.display_name
	Is all ready to go!

= @child.display_name.capitalize
Can log in at
= link_to "http://thecherrytree.com/children/login", login_children_path
with the username:
= @child.name
and the password you provided.
%br
%br
= @child.display_name.capitalize
will be able to log 
= @child.pronoun_gender_possessive
progress toward
= @child.pronoun_gender_possessive
objective
= @child.objective_assignments.first.third_person_gerund
and earn points toward
= @child.award_assignments.first.award.name
%br
%br
You may want to send
= @child.display_name.capitalize
a welcome note to get
= @child.pronoun_gender_object
started:

= form_for [ Note.new ] do |f|
	= f.hidden_field :recipient_id, :value => @child.id
	= f.hidden_field :subject, :value => "Welcome to The Cherry Tree!"
	= f.text_area :content, :id => 'note_content', :class => 'small_area'
	.actions
		= f.submit "Send", :class => 'green_button'
		
%br
You can also
= link_to "Add More Objectives", child_objective_assignments_path( @child )
or 
= link_to "Add More Rewards", child_award_assignments_path( @child )
