= render 'children/banner', :title => 'Home'
= render 'children/nav'

#child_main_screen
	
	%h3 Your Objectives
	- for assignment in @current_user.objective_assignments.active
		.title_bar
			.data
				.name= assignment.objective.name
				.info
					Do this
					= assignment.times
					times per
					= assignment.period
					for
					= assignment.point_value
					points.
			.clear
		.clear
			%br	
			-# todo uncomment this after testing to allow children to check in just once daily
			-# if @assignment.checkin_in_last?( 1.day.ago )
			-#	You did this today!
			-# else
			= form_for Checkin.new do |f|
				= f.hidden_field :objective_assignment_id, :value => assignment.id
				= f.hidden_field :user_id, :value => @current_user.id
				= f.text_field :content
				= image_submit_tag "big_green_check.png", :width => 30
				= image_tag "red_x.png", :width => 30
			%br
	.title_bar
		.data
			.name Anything else?
		.clear
	= render 'checkins/form'
		
#home_prizes
	%h3 Your Prizes
	- for assignment in @current_user.award_assignments
		.item
			= link_to avatar_tag( assignment.award, :thumb, :width => 64 ), unlock_award_path( assignment.award, :type => 'award' )
			%br
			%b= assignment.award.name
			%br
			- if assignment.point_cost > @current_user.point_balance
				Only
				= assignment.point_cost - @current_user.point_balance
				Points to Go!
			- else
				.cost
					Cost:
					= assignment.point_cost
					pts.
				%br
				= link_to "Unlock It!", unlock_award_path( assignment.award, :type => 'award' )
	.item
		= link_to image_tag( 'treasure_chest.png', :width => 64 ), awards_path
		%br
		= link_to 'Go to Treasure Chest', awards_path
#home_news
	%h3
		News
	.activity
		= render @activities



