= render 'banner', :title => 'Home'
= render 'nav'

#welcome
	%p
		Welcome to our prototype.  This is still very much a work in progress, but should give a feel for what we're trying to do.  Have fun!
	%h3 
		Hi
		= "#{@current_user.display_name},"
		What's Up?
	= form_for [ Checkin.new ] do |f|
		= f.text_field :content
		= f.hidden_field :user_id, :value => @current_user.id
		= f.submit "Enter", :class => :button



%h3
	Activity
= render @activities
	
