= render 'children/banner', :title => 'Home'
= render 'children/nav'

#home_objectives
	%h3 Your Objectives
	- for @assignment in @current_user.objective_assignments.active
		.title_bar
			.data
				.name= @assignment.objective.name
				.info
					Do this
					= @assignment.times
					times per
					= @assignment.period
					for
					= @assignment.point_value
					points.
			.clear
		.clear
			%br	
			-# todo uncomment this after testing to allow children to check in just once daily
			-# if @assignment.checkin_in_last?( 1.day.ago )
			-#	You did this today!
			-# else
			=render :partial => 'checkins/form' 
			%br
#home_prizes
	%h3 Your Prizes
	- for assignment in @current_user.award_assignments
		.item
			= link_to avatar_tag( assignment.award, :thumb, :width => 64 ), unlock_award_path( assignment.award, :type => 'award' )
			%br
			%b= assignment.award.name
			%br
			- if assignment.point_cost > @current_user.point_balance
				Only
				= assignment.point_cost - @current_user.point_balance
				Points to Go!
			- else
				.cost
					Cost:
					= assignment.point_cost
					pts.
				%br
				= link_to "Unlock It!", unlock_award_path( assignment.award, :type => 'award' )
	.item
		= link_to image_tag( 'treasure_chest.png', :width => 64 ), awards_path
		%br
		= link_to 'Go to Treasure Chest', awards_path
%br.clear
#home_news
	%h3
		News
	.activity
		= render @activities
#home_notes
	%h3 Your Notes
	- for note in @current_user.note_deliveries.published.unread.order( "created_at desc" ).collect { |deliv| deliv.note }
		From
		%b= "#{note.sender.nickname( @current_user )}: "
		= link_to note.subject, note
#home_journal
	%h3 Your Journal
	- for entry in @current_user.journals.first.journal_entries
		.entry
			= link_to entry.title, edit_child_journal_entry_path( @current_user, entry )

