= render 'banner', :title => 'Home'
= render 'nav'

#welcome
	%p
		Welcome to our prototype.  This is still very much a work in progress, but should give a feel for what we're trying to do.  Have fun!
	%h3 
		Hi
		= "#{@child.name},"
		What's Up?
	= form_for [ Checkin.new ] do |f|
		= f.text_field :content
		= f.hidden_field :user_id, :value => @current_user.id
		= f.submit "Enter", :class => :button
	- unless @recent_note_deliveries.empty?
		%h3 Recent Notes
		- for note_delivery in @recent_note_deliveries
			%b
				From:
				= note_delivery.sender.name
				-#
				(
				Your
				= note_delivery.sender.relation_to( @child )
				)
			%p
				= note_delivery.note.content
			%br
			%b
				= note_delivery.note.points
				Kudos
			%hr
			



%h3
	Activity
= render @activities
	
