-# Used to show Child's profile  to Parent
.child_profile
	= render 'children/sub_nav', :child => @child
	%br
	%p 		
		%b
			Change picture for
			= @child.display_name
			%br
			
			= avatar_tag( @child, :thumb )
			= form_for @child, :html => { :multipart => true } do |f|
				= file_field_tag :attached_avatar_file
				= submit_tag "Update Picture", :class => 'button_flat'
		%hr
		%b 
			Change password for
			= @child.display_name
			
		= form_tag reset_path do
			%label New Password:
			= password_field_tag :password, params[:password], :size=>30, :class=>"password"
			%br
			%label Confirm Password:
			= password_field_tag :password_confirmation, params[:password_confirmation], :size=>30, :class=>"password"
			= hidden_field_tag :child_id, @child.id
			%br

			= submit_tag "Change Password", :class => 'button_flat'

	
%br.clear
%br
