%h1
	= possessize @current_user.name
	Children
= render 'users/nav'

%h3 
	= @child.display_name
	Profile
	
= avatar_tag( @child, :thumb )
%br
%br

%b
	= possessize @child.display_name
	Favorite Books:
%p
	= @child.favorite_books.join ", "

