-# Used to show Child's profile  to Parent
%h1
	= possessize @current_user.name
	Children
= render 'users/nav'

%br
.child_profile
	= render 'children/child_sub_nav', :child => @child
	
	%b
		= possessize @child.display_name
		Favorite Books:
	%p
		= @child.favorite_books.join ", "
		
	%b
		= possessize @child.display_name
		Achievements:
	%p
		- for earning in @child.achievement_earnings
			= eanring.achievement.name
			on
			= format_date_only earning.created_at

%br.clear
%br
