-# Used to show Child to Parent
.child_profile.clearfix
	= render 'children/sub_nav', :child => @child
	
	#child_main_screen
	
		- if @child.active_assigned_awards.empty? && @child.objective_assignments.empty?
			%h3 
				Congratulations! Let's get started...
			First, let's create some awards for
			= @child.display_name
			to work towards....  Awards can be Toys, prizes, special treats, or anything you want.
			= @child.display_name
			Will be able to spend 
			= @child.pronoun_gender_possessive
			cherries as
			= @child.pronoun_gender_subject
			earns them to unlock these awards.
			%p.center{ :style => 'margin-top: 20px;' }
				= link_to "+ Add Awards", child_award_assignments_path( @child ), :class => 'button_flat'
			
		- elsif @child.active_assigned_awards.present? && @child.objective_assignments.empty?
			%h3 
				Great!
			Now, let's enter some objectives for
			= @child.display_name
			Objectives can be chores, behavior goals, or milestones for 
			= @child.display_name
			to work towards.
			= @child.display_name
			will earn cherries as 
			= @child.pronoun_gender_subject
			checks in on 
			= @child.pronoun_gender_possessive
			progress and you will be able to confirm that
			= @child.pronoun_gender_subject
			has actually accomplished the objectives.
			%p.center{ :style => 'margin-top: 20px;' }
				= link_to "+ Add Objectives", child_objective_assignments_path( @child ), :class => 'button_flat'
		
		- else
	
			%h3 Recent Activity
			.timeline

			- if @activities.empty?
				= @child.name.capitalize
				hasn't performed any activities yet.  Encourage 
				= @child.name.capitalize
				to login!
			- else
				= render @activities


	#home_prizes.boxes
		%h3.center Awards:
		- if @child.active_assigned_awards.empty? && @child.parents.include?( @current_user )
			%p
				= @child.name.capitalize
				has no awards, add some now!
			
		- for assignment in @child.award_assignments.active
			.float_left
				.float_left{ :style => 'width:190px;' }
					%b= assignment.award.name
				.float_left{ :style => 'width:109px;' }
					= assignment.point_cost
					Cherries
				%br.clear
		%p.center.clear{ :style => 'margin-top:15px;' }
			= link_to "+ Add Awards", child_award_assignments_path( @child ), :class => 'button_flat'
					
	#home_prizes.boxes
		%h3.center Objectives:
		- if @child.objective_assignments.empty? && @child.parents.include?( @current_user )
			%p
				= @child.name.capitalize
				has no objectives, create one now!
		
		- else
			- for assignment in @child.objective_assignments
				.float_left{ :style => 'width:190px;' }
					%b= assignment.objective.name
				.float_left{ :style => 'width:109px;' }
					= assignment.point_value
					Cherries
				%br.clear
		%p.center.clear{ :style => 'margin-top:15px;' }
			= link_to "+ Add Objectives", child_objective_assignments_path( @child ), :class => 'button_flat'
			
	#home_prizes.boxes
		%h3.center Supporters:
		- for supporter in @child.relatives
			%p.clearfix
			= avatar_tag( supporter, :thumb, :width => 25 )
			
			= supporter.nickname( @child )
		%p.center.clear{ :style => 'margin-top:15px;' }
			= link_to "+ Invite a Supporter", '#', :class => 'open_modal button_flat', :id => 'supporter'
			
		
	#new_objective.modal{ :title => "New Objective for #{@child.display_name}"}
		%h2
			New Objective for
			= @child.display_name

		= form_for [ @child, ObjectiveAssignment.new ] do |f|
			= render 'objective_assignments/form', :f => f
	
	

			
	#new_supporter.modal{ :title => "Invite Supporter for #{@child.display_name}" }
		= form_for [ @child, Invitation.new ] do |f|
			= render 'invitations/form', :f => f



