-# Used to show Child to Parent
.child_profile.clearfix
	= render 'children/sub_nav', :child => @child
	
	
	#child_main_screen


		%h3 Activity Feed
		.timeline
			= render @activities


	#home_prizes
		%h3 Awards
		- if @child.award_assignments.empty?
			= @child.name.capitalize
			has no awards, create one now!
			%br
			= link_to image_tag( 'add.png', :width => 20 ), "#", :class => 'open_modal', :id => 'award'
			= link_to "Create Award Coupon", "#", :class => 'open_modal', :id => 'award'
			
		- for assignment in @child.award_assignments
			.item
				= link_to avatar_tag( assignment.award, :thumb, :width => 64 ), unlock_award_path( assignment.award, :type => 'award' )
				%br
				%b= assignment.award.name
				.cost
					Cost:
					= assignment.point_cost
					pts.
	#home_news
		%h3 Objectives
		- if @child.objective_assignments.empty?
			= @child.name.capitalize
			has no objectives, create one now!
			%br
			= link_to image_tag( 'add.png', :width => 20 ), "#", :class => 'open_modal', :id => 'objective'
			= link_to "Create Objective", "#", :class => 'open_modal', :id => 'objective'
		
		
		
	#new_objective.modal{ :title => "New Objective for #{@child.display_name}"}
		%h2
			New Objective for
			= @child.display_name

		= form_for [ @child, ObjectiveAssignment.new ] do |f|
			= render 'objective_assignments/form', :f => f
	
	
	#new_award.modal{ :title => "New Award for #{@child.display_name}" }
		= form_for [ @child, AwardAssignment.new ] do |f|
			= render 'award_assignments/award_form', :f => f



