-# Used to show Child to Parent
.child_profile
	= render 'children/sub_nav', :child => @child
	
	
	#child_main_screen
		%h3 Activity Feed
		- if @child.objective_assignments.empty?
			%p
				= @child.name.capitalize
				has no goals, create one now!
				= link_to "Create Goal", "#", :class => 'open_modal', :id => 'objective'
			
		- if @child.award_assignments.empty?
			%p
				= @child.name.capitalize
				has no awards, create one now!
				= link_to "Create Award Coupon", "#", :class => 'open_modal', :id => 'coupon'			

		.timeline
			= render @activities


	#home_prizes
		%h3 Prizes
		- for assignment in @child.award_assignments
			.item
				= link_to avatar_tag( assignment.award, :thumb, :width => 64 ), unlock_award_path( assignment.award, :type => 'award' )
				%br
				%b= assignment.award.name
				.cost
					Cost:
					= assignment.point_cost
					pts.
	#home_news
		%h3 Notes?
		
	#new_objective.modal{ :title => "New Goal for #{@child.display_name}"}
		%h2
			New Goal for
			= @child.display_name

		= form_for [ @child, ObjectiveAssignment.new ] do |f|
			= render 'objective_assignments/form', :f => f
	
	
	#new_coupon.modal{ :title => "New Award for #{@child.display_name}" }
		= form_for [ @child, AwardAssignment.new ] do |f|
			= render 'award_assignments/coupon_form', :f => f



