-# Used to show Child to Parent
.child_profile.clearfix.parent
	= render 'children/sub_nav', :child => @child
	
	#child_main_screen.parent
	
		- if @child.objective_assignments.empty? 
			%h3 
				Let's get started...
			Let's enter some goals for
			= @child.display_name
			Goals can be doing the chores, behavior goals, or milestones for 
			= @child.display_name
			to work towards.
			= @child.display_name
			will earn cherries as 
			= @child.pronoun_gender_subject
			checks in on 
			= @child.pronoun_gender_possessive
			progress.  
			%p.center{ :style => 'margin-top: 20px;' }
				= link_to "+ Add Goals", child_objective_assignments_path( @child ), :class => 'button_flat'

		- elsif @child.lesson_assignments.empty?
			%h3
				Hmm..., 
				= @child.display_name
				doesn't have any activities assigned. 
			Let's assign some activities.  They'll help 
			= @child.display_name
			learn proper behaviors or skills.
			%p.center{ :style => 'margin-top: 20px;' }
				= link_to "+ Add Activities", child_lesson_assignments_path( @child ), :class => 'button_flat'			
			
		- elsif @child.active_assigned_awards.empty?
			%h3 
				Hmm..., 
				= @child.display_name
				doesn't seem to have an rewards.
			Let's create some rewards for
			= @child.display_name
			to work towards....  Rewards can be toys, prizes, special treats, or anything you want.
			= @child.display_name
			Will be able to spend 
			= @child.pronoun_gender_possessive
			cherries as
			= @child.pronoun_gender_subject
			earns them to unlock these rewards.
			%p.center{ :style => 'margin-top: 20px;' }
				= link_to "+ Add Rewards", child_award_assignments_path( @child ), :class => 'button_flat big'
		
		- else
	
			%h3 Recent Activity
			.timeline

			- if @activities.empty?
				= @child.display_name
				hasn't performed any activities yet.  Encourage 
				= @child.display_name
				to login!
			- else
				= render @activities

	#earnings.boxes
		%h3.center Earned this Week
		- if @max_points > 0
			= raw Gchart.bar(:data => @chart_data, :format =>'image_tag', :axis_with_labels => @chart_axis_with_labels, :axis_labels => @chart_axis_labels, :orientation => 'horizontal', :size => '300x150', :bar_colors => 'B91926')
		- else
			%p
				=@child.display_name
				hasn't earned any cherries yet this week.

	#goals.boxes
		%h3.center Goals
		- if @child.objective_assignments.empty? && @child.parents.include?( @current_user )
			%p
				= @child.display_name
				has no objectives, create one now!

		- else
			- for assignment in @child.objective_assignments
				.objective.clearfix
					.name
						%b= assignment.objective.name
					.cherries
						= assignment.point_value
						= image_tag "cherry.png", :class => 'cherry'
		- if @child.parents.include?( @current_user )
			%p.add_objectives.center
				= link_to "+ Add Goals", child_objective_assignments_path( @child ), :class => 'button_flat big'

	#goals.boxes
		%h3 Activities
		-if @child.lesson_assignments.empty?
			%p
				= @child.display_name
				has no activities, add some now!
		-else
			- for lesson_assignment in @child.lesson_assignments
				.objective.clearfix
					.name
						%b= lesson_assignment.lesson.name
					- if lesson_assignment.lesson.quizzes.present?
						.cherries
							=lesson_assignment.lesson.quizzes.first.point_value
							= image_tag "cherry.png", :class => 'cherry'
							
			

		- if @child.parents.include?( @current_user )
			%p.add_awards.center
				= link_to "+ Add Activities", child_lesson_assignments_path( @child ), :class => 'button_flat big'
	

	#awards.boxes
		%h3.center Rewards
		- if @child.active_assigned_awards.empty? && @child.parents.include?( @current_user )
			%p
				= @child.display_name
				has no rewards, add some now!
			
		- for assignment in @child.award_assignments.active
			.objective.clearfix
				.name
					%b= assignment.award.name
				.cherries
					= assignment.point_cost
					= image_tag "cherry.png", :class => 'cherry'
		- if @child.parents.include?( @current_user )
			%p.add_awards.center
				= link_to "+ Add Rewards", child_award_assignments_path( @child ), :class => 'button_flat big'
					
	-#home_prizes.boxes
		%h3.center Supporters:
		- for supporter in @child.relatives
			= avatar_tag( supporter, :thumb, :width => 25 )
			
			= supporter.nickname( @child )
		- if @child.parents.include?( @current_user )
			%p.add_awards.center.clear{ :style => 'margin-top:15px;' }
				= link_to "+ Invite Supporters", child_supporters_path( @child ), :class => 'button_flat'