%p 
	= "#{@parent.display_name},"
%p
	= @child.display_name
	has used 
	= @award.point_cost
	cherries to unlock 
	- if @award.url.present?
		=link_to @award.name, @award.url
	- else	
		= @award.name
	\.
%p
	= link_to 'Click here', print_award_url( @award, :child_id => @child.id, :host => 'thecherrytree.com' )
	to display and print
	= @child.pronoun_gender_possessive
	award certificate.
%p
	Congratulations to 
	= @child.display_name
	from all of us at theCherryTree.com!

%p
	Visit
	=link_to 'theCherryTree.com', 'http://thecherrytree.com'
	to update goals, assign new activities, or create more rewards to incentivize
	= "#{@child.display_name}."
	
%p 
	Yours Truly,
%p
	The CherryTree Team
	
