Hello 
= @invitee.nickname( @child )
,
%p
	You've been invited by
	= @invitation.creator.display_name 
	to support 
	= @child.name 
	at theCheryTree.com.

-unless @invitation.message.blank?
	%p
		Message from
		= @invitation.creator.display_name
		:
		%br
		= @invitation.message
%p
	To join, please 
	= link_to 'click here', "http://thecherrytree.com/invitation/#{@invitation.code}"

%p
	We appreciate your support,
	%br
	= @invitation.creator.display_name
	and the CherryTree team