#comment
	.header.clearfix
		.userinfo
			= link_to( avatar_tag( comment.user, :thumb, :width => 64 ), user_url( comment.user ) )
			= link_to comment.user.name, user_url( comment.user )
			- unless comment.user.website_url.blank?
				(
				-if comment.user.website_name.blank?
					= link_to comment.user.website_url, "http://" + comment.user.website_url
				- else
					= link_to comment.user.website_name, "http://" + comment.user.website_url
				)
			
			%span.byline.date
				On
				= format_date comment.created_at
	.content.text
		= comment.content.html_safe

%br.clear