%h1 Editing <%= singular_name.capitalize %>
= link_to 'Show', @<%= singular_name %>

= form_for @<%= singular_name %> , :html => { :mutipart => true } do |f|
	= render 'form', :f => f
	.actions
		= f.submit 'Update', :class => 'button'
		|
		= link_to 'Cancel', :back



