%div[article]
	.article_header
		%h2
			= link_to article.title, blog_path( article )
		%span.article_meta
			%b posted
			= format_date_only( article.publish_at )
			- if article.comments_allowed?
				= link_to pluralize( article.comments.count, "Comment" ), blog_path( article ) + "#comments"
	.article_body.text
		- if article.snip_at && ( article.content.size > article.snip_at )
			= snip article.content.html_safe, article.snip_at
			= link_to "Click to continue or comment", blog_link( article )
		- else
			= article.content.html_safe