= f.label "Title:"
= f.text_field :title, :class => 'title_field'

= f.text_area :content, :class => 'mceEditor'

= f.label "Excerpt (Or blank for first 200 chars)"
= f.text_area :excerpt, :class => :small_area

= f.label "Publish On:"
= f.text_field :publish_at, :class => 'datepicker'

= f.label 'Topics:'
= f.text_field :topic_list

= f.label 'Keywords:'
= f.text_field :keyword_list

= f.label "Snip Preview at Character:"
= f.text_field :snip_at, :style => 'width:50px;'
%br
= f.check_box :comments_allowed, {}, 'true', 'false'
Allow Comments
%br
= f.label "Status:"
= f.select :status, [ ['Publish',  'publish'], ['Draft', 'draft'] ]

%br
= f.submit "Enter", :class => 'button'