#child_main_screen
	.objective_dash.clearfix
	
		%p
			= @screen.content.html_safe

		- unless @screen == @lesson.first_screen
			= link_to "<< Last ", lesson_screen_path( @lesson, @screen.previous_screen ), :class => 'button green'
		
		- if @screen == @lesson.last_screen

			- if @lesson.quizzes.first.present? && !@lesson.quizzes.first.taken_by?( @current_user )
				%br 
				%br
				This lesson has a quiz that is worth
				= @lesson.quizzes.first.point_value
				cherries.
				%br
				Would you like to take it now?
				= link_to "Yes", quiz_question_path( @lesson.quizzes.first, @lesson.quizzes.first.questions.first ), :class => 'button green'
				= link_to "No", home_path, :class => 'button red'
		- else
			= link_to "Next >>", lesson_screen_path( @lesson, @screen.next_screen ), :class => 'button green'
	




