.forum_nav
	.breadcrumb
		- if @forum.owner.is_a? Site
			= link_to @current_site.name, root_url
		- else
			= link_to @current_author.pen_name, @current_author
		>
		= link_to "Forums", forums_link
		>
		%b= @forum.title
	.reply_link
		-if @current_user.anonymous?
			%b= link_to "Login", new_session_url + "?dest=" + new_forum_topic_url( @forum )
			or
			%b= link_to "Register", new_user_url + "?dest=" + new_forum_topic_url( @forum )
			to post a topic
		-else
			.new_button
				= link_to image_tag( 'add.png', :width => 16 ), new_forum_topic_link( @forum )
				%b= link_to "Post a Topic", new_forum_topic_link( @forum )
%br.clear