%div[topic]
	.post_user
		.post_username
			=link_to topic.user.name, topic.user
		.post_avatar
			=link_to avatar_tag( topic.user, :thumb, :width => 60 ), topic.user
		.post_user_joined
			Member Since: 
			%br
			= format_date_only topic.user.created_at
		.post_count
			= pluralize topic.user.posts.count, 'post'
	.post_body
		.post_header
			%span.post_subject
				= topic.title
			%span.post_meta
				Posted:
				= format_date topic.created_at
				= pluralize topic.posts.count, 'reply'
			-if topic.user == @current_user
				%span.edit_post
					= link_to image_tag( 'edit.png', :width => 20 ), edit_forum_topic_url( @forum, topic)
					= link_to "Edit", edit_forum_topic_url( @forum, topic)
		.post_content
			= topic.content
%br.clear