- content_for :left_column do
	= render :partial => 'forum_nav'

	- if @topics.total_pages > 1
		.pagination
			.page_info
				= page_entries_info @topics
			= will_paginate @topics

	%table.forum_list
		%thead
			%tr
				%th
	
				%th
					Views
				%th
					Posts
				%th
					Last Post
		%tbody
			- @topics.each do |topic|
				%tr
					%td
						.topic_title
							%b= link_to topic.title, forum_topic_link( topic )
						by
						= link_to topic.user.name, topic.user
					%td
						= topic.view_count
					%td
						= topic.posts.count
					%td
						- if topic.posts.last
							= link_to format_date(topic.posts.last.created_at), custom_post_path( @forum, topic, topic.posts.last )
							%br
							by
							= link_to topic.posts.last.user.name, topic.posts.last.user
						- else
							&#45;&#45;&#45;
	- if @topics.total_pages > 1
		.pagination
			.page_info
				= page_entries_info @topics
			= will_paginate @topics
					
- content_for :right_column do
	&nbsp;
	

