= render :partial => 'forum_nav'

= paginate( @posts ).html_safe

#topic
	= render @topic

#posts
	- @posts.each do |post|
		= render post

%br

= paginate( @posts ).html_safe

- unless @current_user.anonymous?
	#quick_post
		%h3
			Quick Reply:
		= form_for ([ @forum, @topic, @post]) do |f|

			=f.text_area :content
			%br
			= f.submit "Add", :class => "button"
