= render :partial => 'forum_nav'

- if @posts.total_pages > 1
	.digg_pagination
		.page_info
			= page_entries_info @posts
		= will_paginate @posts

#topic
	= render @topic

#posts
	- @posts.each do |post|
		= render post

%br

- if @posts.total_pages > 1
	.digg_pagination
		.page_info
			= page_entries_info @posts
		= will_paginate @posts

- unless @current_user.anonymous?
	#quick_post
		%h3
			Quick Reply:
		= form_for ([ @forum, @topic, @post]) do |f|

			=f.text_area :content
			%br
			= f.submit "Add", :class => "button"
