- content_for :left_column do
	.new.button
		= link_to image_tag( 'add.png', :width => 20 ), new_merch_path
		= link_to 'New Merch', new_merch_path
	
	%h1 Merches Admin 
	%table.admin_table
		%thead
			%th{ :colspan => 2 }
		%tbody
			- for merch in @merches
				%tr{ :class => cycle(:odd, :even) }
					%td
						= link_to image_tag( 'view.png', :width => 20 ), merch
						= link_to 'view', merch
					%td
						= link_to image_tag( 'edit.png', :width => 20 ), edit_merch_path( merch )
						= link_to 'edit', edit_merch_path( merch )
					%td
						= link_to image_tag( 'trash.png', :width => 20 ), merch, :confirm => 'Are you sure?', :method => :delete
						= link_to 'delete', merch, :confirm => 'Are you sure?', :method => :delete


