- content_for :left_column do
	%h1 Editing Merch
	= link_to 'Show', @merch

	= form_for @merch , :html => { :mutipart => true } do |f|
		= render 'form', :f => f
		.actions
			= f.submit 'Update', :class => 'button'
			|
			= link_to 'Cancel', :back



