= render 'children/banner', :title => 'Objectives'
= render 'children/nav'
- if @objectives.once.present?
	%h3 Your Goals:
	- for obj in @objectives.once
		%b= obj.name
		%br
		Target: 
		= format_date_only obj.due_at
		That is only
		= distance_of_time_in_words( Time.now, obj.due_at )
		from Now!!!
		%br
		%br
- else
	%h3 No Goals

- if @objectives.recurring.present?
	%h3 Your Objectives
	- for obj in @objectives.recurring
		%b= obj.name
		%br
		= obj.times
		times per
		= obj.period
		= form_for Checkin.new do |f|
			= f.hidden_field :objective_id, :value => obj.id
			= f.hidden_field :user_id, :value => @child.id
			= f.radio_button :status, 'did'
			I did It!
			= f.radio_button :status, 'did_not'
			I'm Working on it
			= f.submit
- else
	%h3 No Objectives