%h1
	= possessize @current_user.name
	Objectives
= render 'users/nav'


- unless @objectives.empty?
	%h3 Objectives
	- for obj in @objectives
		%div[obj]
			%b= obj.name
			%br
			= obj.times
			times per
			= obj.period
			Assigned To:
			= separated_list( obj.users, 'display_name' )

		
= form_for Objective.new do |f|
	= render 'form', :f => f
