%tr
	%td= award_assignment.award.name
	%td= award_assignment.point_cost
	%td= award_assignment.status.capitalize
	%td
		- if award_assignment.active?
			= link_to 'Deactivate', child_award_assignment_path(@child, award_assignment, :status => 'inactive'), :method => :put
		- else
			= link_to 'Activate', child_award_assignment_path(@child, award_assignment, :status => 'active'), :method => :put
						