This Award entitles 
= @child.display_name
to:
%br
= f.text_field :award_name, :class => 'large'
%br
= f.label 'Cherries Required:'
%br
= f.text_field :point_cost, :class => 'small'
%br
= f.submit 'Create Award', :class =>'button_flat'