= f.label 'Award:'
= f.text_field :award_name
%br
= check_box_tag :amazon
Search Amazon
= f.label 'Description (optional)'
= f.text_area :award_description, :class => 'tiny_area'

= f.label 'Cost:'
= f.text_field :point_cost

= f.submit