%b Award Name:
%br
= f.text_field :award_name, :class => 'title_field'
%br
%b Description:
%br
= f.text_field :description, :style => 'width:500px;'
%br
%b Cost:
%br
= f.text_field :point_cost, :class => 'small'
cherries
%br
= f.submit 'Enter', :class => 'button_flat'
|
= link_to 'Cancel', "#", :class => 'close_new_award_form'