.child_profile
	%h1
		Search Amazon
	%br
	= render 'amzn_form'
	%br
	%h3
		= @response.items.count
		results in
		= @index
		for
		= "'#{@term}'"

	- for item in @response.items
		= render 'amazon/amzn_item', :item => item
		= form_for [ @child, AwardAssignment.new ] do |f|
			= f.hidden_field :index, :value => @index
			= f.hidden_field :term, :value => item.get("ItemAttributes/Title")
			= f.hidden_field :asin, :value => item.get('ASIN')
			= f.hidden_field :point_cost, :value => 50
			= f.hidden_field :description, :value => item.get('EditorialReviews/EditorialReview/Content')
			= f.submit "Add Reward", :class => 'button_flat'
		%hr