-# Used to show the award asignments for a child to the Parent

.child_profile

	= render 'children/sub_nav', :child => @child
	Create awards for incentives here.  Your child can redeem points earned for these awards.
	
	.new_thing
		= link_to image_tag( 'add.png', :width => 20 ), "#", :class => 'open_modal', :id => 'coupon'
		= link_to 'Create a New Award', "#", :class => 'open_modal', :id => 'coupon'
	
	%table( width=600 )
		%th 
			%b Award
		%th 
			%b Points Required
		%th
			%b Status
		%th 
			%b Actions	
		= render @child.award_assignments
	
		
	#new_coupon.modal{ :title => "New Award for #{@child.display_name}" }
		= form_for [ @child, @new_assignment ] do |f|
			= render 'coupon_form', :f => f

%br.clear
%br