.child_profile.clearfix

	= render 'children/sub_nav', :child => @child
	
	.top-header.clearfix
		%span.title
			= possessize @child.display_name
			Awards
		/ .new_thing.button_flat
		/ 	= link_to '+ Create Custom Award', "#", :class => 'open_new_award_form'
		/ .new_thing.button_flat
		/ 	= link_to '+ Create Amazon Award', "#", :class => 'open_modal', :id => 'amzn'

	- if @active_assignments.empty?
		#active_assignment_table{ :style => 'margin-top:20px;' }
			#empty_message
				Setup some awards for
				= @child.display_name
				to work for!  You can add an award from the list below, or create your own using the button above.
	- else
		#active_assignment_table{ :style => 'margin-top:20px;' }
			.float_left{ :style => 'width:50px;' }
				= image_tag 'awards/custom.jpg', :width => 40
			.float_left
				%h3 Assigned Awards
			.clear
			.float_left{ :style => 'width:50px;'}
				&nbsp;
			.float_left{ :style => 'width:300px;'}
				%b Name
			.float_left{ :style => 'width:350px;'}
				%b Description
			.float_left{ :style => 'width:150px;'}
				%b Cost
				(Cherries)
			.clear
			- for assignment in @active_assignments
				= render 'active_assignment', :assignment => assignment
		
	#custom_awards
		- unless @custom_awards.empty?
			.category.float_left{ :style => 'width:400px;margin-top:20px;' }
				.float_left{ :style => 'width:50px;' }
					= image_tag( 'awards/custom.jpg', :width => 36 )
				.float_left
					%h3 Custom Awards
				.clear
				- for award in @custom_awards
					= render 'award_to_assign', :award => award		
	.clear	
		&nbsp;
	.new_thing.button_flat
		= link_to "Save Changes", :class => 'save_form'
	.clear
		&nbsp;
	#search_amazon{ :title => "New Amazon Reward for #{@child.display_name}" }
		%h3!= "New <span class=\"amazon_logo\"></span>Reward for #{@child.display_name}"
		= form_tag amzn_child_award_assignments_path( @child ) do |f|
			= render 'amzn_form', :f => f
	#accordion.goals
		%h3.track= "Custom Awards"
		%div
			= form_for [ @child, AwardAssignment.new ], :html => {} do |f|
				= render 'form', :f => f
		- for cat in AwardCategory.all
			- next if cat.awards.empty?
			%h3.track= "#{cat.name} Awards"
			%div				
				%ul
					- for award in cat.awards - @child.active_assigned_awards
						%li
							%label
								= render 'award_to_assign', :award => award	
								
	/ #new_amzn.modal{ :title => "New Amazon Reward for #{@child.display_name}" }
	/ 	= form_tag amzn_child_award_assignments_path( @child ) do |f|
	/ 		= render 'amzn_form', :f => f
		