
.child_profile

	= render 'children/sub_nav', :child => @child
	
	.top-header.clearfix
		%span.title
			= possessize @child.display_name
			Awards
		.new_thing.button_flat
			= link_to '+ Create Custom Award', "#", :class => 'open_new_award_form'
		
	= form_for [ @child, AwardAssignment.new ], :html => { :style => 'display:none;' } do |f|
		= render 'form', :f => f

	- if @active_assignments.empty?
		Setup some awards for
		= @child.display_name
		to work for!  You can add an award from the list below, or create your own using the button above.
	- else
		= render 'active_assignment_table'
		
	#custom_awards
		= render 'custom_awards'
		
	#category_awards
		= render 'category_awards'
		.clear