
.child_profile

	= render 'children/sub_nav', :child => @child
	
	.top-header.clearfix
		%span.title
			= possessize @child.display_name
			Awards
		.new_thing.button_flat
			= link_to '+ Create Custom Award', "#", :class => 'open_new_award_form'
		
	= form_for [ @child, AwardAssignment.new ], :html => { :style => 'display:none;' } do |f|
		%b Award Name:
		%br
		= f.text_field :award_name, :class => 'title_field'
		%br
		%b Description:
		%br
		= f.text_field :description, :style => 'width:500px;'
		%br
		%b Cost:
		%br
		= f.text_field :point_cost, :class => 'small'
		cherries
		%br
		= f.submit 'Enter', :class => 'button_flat'
		|
		= link_to 'Cancel', "#", :class => 'close_new_award_form'

	- if @active_assignments.empty?
		Setup some awards for
		= @child.display_name
		to work for!  You can add an award from the list below, or create your own using the button above.
	- else
		= render 'active_assignment_table'
		
	- for cat in AwardCategory.all
		.category.float_left{ :style => 'width:400px;margin-top:20px;' }
			.float_left{ :style => 'width:50px;' }
				= avatar_tag( cat, :thumb, :width => 36 )
			.float_left
				%h3= "#{cat.name} Awards"
			.clear
			- for award in cat.awards - @child.active_assigned_awards
				.float_left{ :style => 'width:50px;'}
					= check_box_tag "assign_award", award.id, @child.active_assigned_awards.include?( award ), :award => award.id, :class => 'assign_award', :child => @child.id
					
				.float_left{ :style => 'width:300px;'}
					= award.name
				.clear
		.clear