%h1
	= possessize @current_user.name
	Children
= render 'users/nav'

%h3 
	Add a Child Step 3: Create a Reward for
	= @child.display_name

Coupons are rewards that children can unlock once they've earned enough points.  When
= @child.display_name.capitalize
decides to unlock a coupon, they can print it out and redeem it with you.  Let's go ahead and create a coupon for
= @child.display_name.capitalize
now:

%hr

= form_for [ @child, @new_assignment ] do |f|
	= hidden_field_tag :first, :true
	= render 'coupon_form', :f => f

%br.clear
%br