
.child_profile

	= render 'children/sub_nav', :child => @child
	
	.top-header.clearfix
		%span.title
			New Award
			
	.category{ :style => 'margin-top:20px;' }
		.float_left{ :style => 'width:50px;' }
			= image_tag 'awards/time.jpg', :width => 25
		.float_left
			%h3 PlayTime
		.clear
		- for award in @time_awards
			= award.name
			%br
			
	.category{ :style => 'margin-top:20px;' }
		.float_left{ :style => 'width:50px;' }
			= image_tag 'awards/fun.jpg', :width => 25
		.float_left
			%h3 Fun
		.clear
		- for award in @fun_awards
			= award.name
			%br
			
	.category{ :style => 'margin-top:20px;' }
		.float_left{ :style => 'width:50px;' }
			= image_tag 'awards/stuff.jpg', :width => 25
		.float_left
			%h3 Stuff
		.clear
		- for award in @stuff_awards
			= award.name
			%br
			
	.category{ :style => 'margin-top:20px;' }
		.float_left{ :style => 'width:50px;' }
			= image_tag 'awards/money.jpg', :width => 25
		.float_left
			%h3 Money
		.clear
		- for award in @money_awards
			= award.name
			%br