-# Used to show the award asignments for a child to the Parent

.child_profile

	= render 'children/sub_nav', :child => @child
	
	.top-header.clearfix
		%span.title
			Rewards
	
		.new_thing.button_flat
			= link_to '+ Create Reward', "#", :class => 'open_modal', :id => 'award'
	
	- if @child.award_assignments.empty?
		%p 
			Rewards are incentives that 
			= @child.display_name
			can work to obtain.
			= @child.display_name
			can earn points which are redeemable for rewards that you create.  These rewards can be anything that you think will motivate
			= @child.display_name
			\. Examples could be 'One Hour of Free Time', 'A Trip to the Movies', or 'An Ice Cream Cone'.
		%p
			= @child.display_name
			does not have any rewards to work towards yet.
			= link_to "Let's create a reward!", "#", :class => 'open_modal button_flat', :id => 'award'
	
	- else
		%table( width=600 )
			%th 
				%b Reward
			%th 
				%b Points Required
			%th
				%b Status
			%th 
				%b Actions	
			= render @child.award_assignments


%br.clear
%br