.tab_bar
	%ul
		- if current_page?( home_path )
			%li.home.selected
				= image_tag( 'home.png', :width => 25 )
				Home
		- else
			%li.home
				= link_to image_tag( 'home.png', :width => 25 ), home_path
				= link_to "Home", home_path
		- for child in @current_user.children
			- if @child.present? && child == @child
				%li.selected
					%a{ :href => child_path( child ) }
						= avatar_tag( child, :thumb, :width => 25 )
						= child.name
			- else
				%li
					%a{ :href => child_path( child ) }
						= avatar_tag( child, :thumb, :width => 25 )
						= child.name
		- for child in @current_user.supported_children
			- if @child.present? && child == @child
				%li.selected
					%a{ :href => child_path( child ) }
						= avatar_tag( child, :thumb, :width => 25 )
						= child.name
			- else
				%li
					%a{ :href => child_path( child ) }
						= avatar_tag( child, :thumb, :width => 25 )
						= child.name
		- if current_page?( new_child_path )
			%li.selected.add
				// = image_tag 'add.png', :width => 20
				Add Child
		- else
			%li.add
				%a{ :href => new_child_path }
					//= image_tag 'add.png', :width => 20
					Add Child

-#
	#main-nav
		%ul.navbar
			%li.more
				= link_to "Children", home_path
				%ul
					- unless @current_user.children.empty?
						- for child in @current_user.children
							%li
								= link_to child.display_name, child
					%li
						= link_to '+ Add Child', new_child_path
		
	
			- unless @current_user.supported_children.empty?
				%li.more
					= link_to "Supported Children", ""
					%ul
						- for child in @current_user.supported_children
							%li
								= link_to child.display_name, child
		
			%li.more
				= link_to "Notes", notes_path
				%ul
					%li
						= link_to 'Unread', notes_path
					%li
						= link_to 'All', archive_notes_path
			%li= link_to "Settings", settings_users_path