%h2
	Welcome to todo!

- if !@current_user.has_email?
	Hmmm...  Looks like we don't have a validated email for you.  Please enter an email address below and click on the validation link that we send you.  Until then, your account won't be active.
	%br
	%br
	= form_for @current_user do |f|
		= f.label "Email"
		= f.text_field :email
		= f.submit "Enter"
	
	We promise not to spam you or share your email with anyone else.  You can also read our 
	= link_to "Privacy Policy", "/privacy"
	for more details.
		

	