%h1
	= possessize @user.name
	Home
= render 'nav'
#welcome
	%p
		Welcome to our prototype.  This is still very much a work in progress, but should give a feel for what we're trying to do.  Have fun!
	%p
		First, add a child or two with the child tab
	%p
		Then, you can send them kudos and messages
	%p
		More to come later...
#children
	- unless @current_user.children.empty?
		%h3 Your Children
		- for child in @current_user.children
			%b= child.name
			Age:
			= distance_of_time_in_words( child.birthday, Time.now )
			%br
	
	- unless @current_user.supported_children.empty?
		%h3 Children You Support
		- for child in @current_user.supported_children
			%b= child.name
			Age:
			= distance_of_time_in_words( child.birthday, Time.now )
		
	%h3 Add a Child
	= form_for Child.new do |f|
		= render 'children/form', :f => f
	
	- unless @current_user.children.empty?
		%h3 Invite Team Members
		.form_group
			= form_for Relation.new do |f|
				= f.label "For:"
				= f.collection_select :child_id, @current_user.children, :id, :name
				= f.label "Role:"
				= f.select :role, %w( mother father grandmother grandfather aunt uncle friend )
				= f.label "Name:"
				= f.text_field :name
				= f.label "Email:"
				= f.text_field :email
				= f.submit "Invite", :class => :button

#settings
	.column2
		%h3 Change Your Picture
		= avatar_tag( @user, :thumb )
	.column1
		= form_for @user, :html => { :multipart => true } do |f|
			= file_field_tag :attached_avatar_file
			= submit_tag "Update Picture", :class => 'button'
	.divider
	.column2
		%h3 Change Your Email
		= @user.email
	.column1
		= form_for @user do |f|
			= f.text_field :email
			= f.submit "Enter", :class => 'button'
	.divider
	.column2
		%h3 Update Password
	.column1
		= form_tag reset_path do
			%label New Password:
			= password_field_tag :password, params[:password], :size=>30, :class=>"password"
			%label Confirm Password:
			= password_field_tag :password_confirmation, params[:password_confirmation], :size=>30, :class=>"password"
			= hidden_field_tag :token, @user.remember_token
			= submit_tag "Change Password", :class => 'button'
	.clear


- unless @current_user.children.empty?
	#objectives
		%h3 Create an Objective
		= form_for @objective do |f|
			= render 'objectives/form', :f => f
		
		%h3 Add a prize from Amazon
		.form_group
			= form_tag amazon_path do 
				Search Amazon:
				= text_field_tag :search_term
				For:
				= select_tag :search_index, options_for_select( ['Apparel', 'Books', 'DVD', 'Electronics', 'Toys', 'HealthPersonalCare', 'Kitchen', 'Music', 'DigitalMusic', 'SportingGoods', 'Video', 'VideoGames' ] )
				= submit_tag "Search", :class => 'button'



%h3
	Recent Activity
= render @activities

