- content_for :left_column do
	.form_group
		%h1 Reset Your Password
		= form_tag :controller=>'users', :action => :reset_password do
			%label New Password:
			= password_field_tag :password, params[:password], :size=>30, :class=>"password"
			%label Confirm Password:
			= password_field_tag :password_confirmation, params[:password_confirmation], :size=>30, :class=>"password"
			= hidden_field_tag :token, @user.remember_token
			%br
			= submit_tag	"Change Password"
			
- content_for :right_column do
	%h2 Help

