#hd
	#logo
		-if @current_user.anonymous?
			= link_to image_tag( "logo.png", :alt=> "The Cherry Tree", :class => 'logo' ), root_path 
		-else 
			= link_to image_tag( "logo.png", :alt=> "The Cherry Tree", :class => 'logo' ), home_path 
	.nav
		-unless @current_user.child?
			=# link_to "Our Blog", blog_index_path, :class=> 'button_small blue'
			= link_to "Parent Resources", '/resources', :class=> 'button_small blue'
			= link_to "Shop CherryTree Market".html_safe, blog_index_path, :class=> 'button_small red'
			=# link_to "Forums", forums_path, :class=> 'button_small blue'
	.user_capsule
		- if @current_user.anonymous?
			.loggedout
				= link_to "Login", login_path
				|
				= link_to "Register", register_path
		- else
			.pic
				= avatar_tag( @current_user, :thumb, :width => 36 )
			.user
				Logged in as:
				= link_to @current_user.display_name, home_path
				(
				= link_to "Logout", logout_path
				)
				%br
				%span
					= link_to "Help", '/help'
					|
					= link_to "Settings", settings_users_path
					|
					= link_to "Note Box", notes_path
					- if @current_user.note_deliveries.unread.count > 0
						.note_alert
							= link_to @current_user.note_deliveries.unread.count, notes_path
