#ft
	#ft_contain
		.copyright
			= link_to "&copy; #{Time.now.year} CherryTree LLC".html_safe, root_path
		.footer_menu
			%li= link_to "About Us", "#"
			%li= link_to "Blog", "#"
			%li= link_to "Contact", "#"
			%li= link_to "Terms", "#"
		%br.clear
	