#ft
	#ft_contain
		.copyright
			= link_to "&copy; #{Time.now.year} CherryTree LLC".html_safe, root_path
		.footer_menu
			%li= link_to "About Us", "/about"
			%li= link_to "Privacy Policy", "/privacy"
			%li= link_to "Terms", "/terms"
			%li= link_to "Contact", new_contact_path
			- if @current_user.anonymous?
				%li= link_to "Admin", login_path
			- else
				%li
					Logged In As: 
					= @current_user.name
					| 
					= link_to "Logout", logout_path
		%br.clear
	