= form_for @contact do |f|
	= f.label "Your Email:"
	= f.text_field :email, :class => 'email_collect'
	= f.label "Subject:"
	= f.text_field :subject, :class => 'email_collect'
	
	= f.text_area :content, :class => 'collect'
	
	= f.submit "Submit", :class => 'green_button'