-# The Treasure Chest

- unless @award_assignments.empty?
	#awards
		%h3 Pick a prize!

		- for assignment in @award_assignments.active
			.treasure_item
				.item
					= link_to avatar_tag( assignment.award, :thumb ), unlock_award_path( assignment.award, :type => 'award' )
				.item_name
					= assignment.award.name
				.cost
					Cost:
					= assignment.point_cost
					pts.
					
				-if @current_user.point_balance > assignment.point_cost
					= link_to "Unlock It!", unlock_award_path( assignment.award, :type => 'award' )
				-else 
					= raw(Gchart.bar(:data => [[@current_user.point_balance],[assignment.point_cost]], :stacked => true, :bar_colors =>'00FF00,FF0000', :orientation => 'horizontal', :size => '100x20', :custom=>'chxt=y,x&chxs=0,,0,0,_,676767|1,,0,0,_,676767&chf=bg,s,67676700&chf=bg,s,67676700', :format=>'image_tag' ))
				
		%br.clear
