-# The Treasure Chest
= render 'children/banner', :title => 'Objectives'
= render 'children/nav'
%h3 Pick a prize!

	
	
- unless @award_assignments.empty?
	#awards
		- for assignment in @award_assignments
			.treasure_item
				= link_to avatar_tag( assignment.award, :thumb, :width => 64 ), unlock_award_path( assignment.award, :type => 'award' )
				%br
				= assignment.award.name
				.cost
					Cost:
					= assignment.point_cost
					pts.
				%br
				= link_to "Unlock It!", unlock_award_path( assignment.award, :type => 'award' )
		%br.clear
