-# The Treasure Chest
= render 'children/banner', :title => 'Objectives'
= render 'children/nav'
%h3 Pick a prize!
- for award in @awards
	.listing
		.listing_avatar
			= avatar_tag( award, :thumb )
		= award.description
		%br
		= award.point_cost
		%br
		= link_to "Unlock It!", unlock_award_path( award, :type => 'award' )
	.clear
	%hr
	
- for unlockable in @unlockables
	.listing
		.listing_avatar
			= avatar_tag( unlockable, :thumb )
		= unlockable.description
		%br
		= unlockable.point_cost
		%br
		= link_to "Unlock It!", unlock_award_path( unlockable, :type => 'unlockable' )
	.clear
	%hr