-# The Treasure Chest
= render 'children/banner', :title => 'Objectives'
= render 'children/nav'
%h3 Pick a prize!


.tabs
	%ul
		- unless @award_assignments.empty?
			%li= link_to 'Awards', '#awards'
		%li= link_to 'Fonts', '#fonts'
		%li= link_to 'Stickers', '#stickers'
	
	#fonts
		- for font in @fonts
			.treasure_item
				.font{ :class => font.name, :style => 'font-size:24px;' }
					= font.name.humanize
				.cost
					- if @current_user.owns?( font )
						You Own This!
					- else
						Cost:
						= font.point_cost
						pts.
				%br
				= link_to "Unlock It!", unlock_award_path( font, :type => 'font' )
		%br.clear
		
	- unless @award_assignments.empty?
		#awards
			- for assignment in @award_assignments
				.treasure_item
					= link_to avatar_tag( assignment.award, :thumb, :width => 64 ), unlock_award_path( assignment.award, :type => 'award' )
					%br
					= assignment.award.name
					.cost
						Cost:
						= assignment.point_cost
						pts.
					%br
					= link_to "Unlock It!", unlock_award_path( assignment.award, :type => 'award' )
			%br.clear
	
	#stickers
		- for sticker in @stickers
			.treasure_item
				= link_to image_tag( sticker.avatar.location, :width => 64 ), unlock_award_path( sticker, :type => 'sticker' )
				%br
				= sticker.description
				.cost
					- if @current_user.owns?( sticker )
						You Own This!
					- else
						Cost:
						= sticker.point_cost
						pts.
				%br
				= link_to "Unlock It!", unlock_award_path( sticker, :type => 'sticker' )
		%br.clear
