- unless current_page?( print_award_path )
	.float_right{ :style => 'margin-bottom:10px;' }
		= link_to 'Print', print_award_path( @award, :child_id => 4 ), :class => 'button green', :target => '_new' 
	%br.clear

<a href="javascript:window.print()">Print</a>
| 
=link_to "Return", home_url

#award_certificate
	#award-tree
		= image_tag( 'certificate-tree.png' )
	#award_logo
		= image_tag 'logo.png'
	#award_name= @award.name
	
	#child_name
		Awarded To:
		= @child.display_name.capitalize
	
	#award_text.center
		This award hereby certifies that
		%p
			%h2= @child.display_name.capitalize
		has earned the following: 
		%p
			%h3= @award.name

	
	#award_date
		Hereby acknowledged this
		%b= Time.now.day.ordinalize
		day of
		= "<b>#{Time.now.strftime("%B")}</b>, in the year".html_safe
		%b= Time.now.year
		%br
		%br
		%br
		By:
		
	#award_cert
		CherryTree Certificate Number:
		= @cert_number
		


