= render 'children/banner'
= render 'children/nav'

= link_to "Add Item", "", :id => :open_modal

#modal_form{ :title => 'Add a Wishlist Item' }
	= form_for @current_user.wishlist_items.new do |f|
		= render 'form', :f => f
	
%h3 Your Wish List
= render @wishlist_items





