%h1
	= possessize @current_user.name
	Photos
= render 'users/nav'

= link_to 'New Photo', new_user_photo_path( @current_user )
%br

- for photo in @user.photos
	.photo_container
		.photo_title= link_to photo.title, user_photo_path( @user, photo )
		%div[photo]
			.pic
				= avatar_tag( photo, :profile, :width => 150 )
			.caption
				= photo.caption
				
%br.clear