
%h1 New Photo
= form_for [ @current_user, @photo ], :html => { :multipart => true } do |f|
	= f.label 'Title:'
	= f.text_field :title
	= f.label 'Choose a Photo File:'
	= file_field_tag :attached_avatar_file
	= f.label 'Caption:'
	= f.text_field :caption
	
	= f.submit