%h1
	= possessize @current_user.name
	Photos
= render 'users/nav'

= link_to 'Photos', user_photos_path( @user )
%br

%h3= @photo.title
.pic
	= avatar_tag( @photo, :full, :width => 800 )
.caption
	= @photo.caption
				
%br.clear