.child_profile

	= render 'children/sub_nav', :child => @child

	.new_thing
		= link_to image_tag( 'add.png', :width => 20 ), "#", :class => 'open_modal', :id => 'invite'
		= link_to 'Invite a Supporter', "#", :class => 'open_modal', :id => 'invite'
	%table( width=600 )
		%th Name
		%th NickName
		%th Relationship
		- for supporter in @supporters
			%tr
				%td= supporter.display_name
				%td= supporter.nickname( @child )
				%td= supporter.relation_to( @child )
				
	
	#new_invite.modal{ :title => "Invite a Supporter for #{@child.display_name}" }
		= form_for [ @child, Invitation.new ] do |f|
			= render 'invitations/form', :f => f