-#
	#jquery_jplayer_1.jp-jplayer
	.jp-audio
		.jp-type-single
			#jp_interface_1.jp-interface
				%ul.jp-controls
					%li
						= link_to 'play', '#', :class => 'jp-play', :tabindex => 1
					%li
						= link_to 'pause', '#', :class => 'jp-pause', :tabindex => 1
					%li
						= link_to 'mute', '#', :class => 'jp-mute', :tabindex => 1
					%li
						= link_to 'unmute', '#', :class => 'jp-unmute', :tabindex => 1
				.jp-volume-bar
					.jp-volume-bar-value


#content
	= render 'shared/flash', :flash => flash 
	#welcome_box.clearfix
		%h1 A “Whole Child” Approach to Child Development
		#slideshow
			= image_tag 'slideshow-behavioral.jpg', :id => '#behavioral'
			= image_tag 'slideshow-social.jpg', :id => '#social'
			= image_tag 'slideshow-academic.jpg', :id => '#academic'
			= image_tag 'slideshow-health.jpg', :id => '#health'
		#slideshow-nav
			%ul
				%li
					= link_to 'Behavioral', '#', :class => 'behavioral'
				%li
					= link_to 'Social & Emotional', '#', :class => 'social'
				%li
					= link_to 'Academic', '#', :class => 'academic'
				%li
					= link_to 'Health & Fitness', '#', :class => 'health'
		%aside
			%p Welcome to the CherryTree!
			%p The CherryTree was created by child development professionals and parents like you.
			%p Parents, you set goals and assign activities for your child in each of the CherryTree's child development categories. 
			%p CherryTree Kids, login each day to report your progress and earn cherries to unlock rewards!
			%div It's free to try, so
			= link_to '', '/register', :class => 'sign-up'
			%div and watch your child blossom.
		#bird-yellow
		-#
			#bird-blue-message
				%p.parents
					%strong Parents
					Set goals for your child, assign fun 
					and educational activities, and offer rewards
				%p.kids
					%strong Kids
					Earn cherries for meeting your goals,
					then use those cherries to unlock rewards!

				






	
