-#
	#jquery_jplayer_1.jp-jplayer
	.jp-audio
		.jp-type-single
			#jp_interface_1.jp-interface
				%ul.jp-controls
					%li
						= link_to 'play', '#', :class => 'jp-play', :tabindex => 1
					%li
						= link_to 'pause', '#', :class => 'jp-pause', :tabindex => 1
					%li
						= link_to 'mute', '#', :class => 'jp-mute', :tabindex => 1
					%li
						= link_to 'unmute', '#', :class => 'jp-unmute', :tabindex => 1
				.jp-volume-bar
					.jp-volume-bar-value


#content
	#welcome_box
		%h1
			"Where Children Blossom"
		
		
		%p
			CherryTree helps cultivate good habits and behaviors in children. Set up goals and rewards for your child, invite family members in for support, and watch your child transform as they earns cherries to unlock rewards.  
		%p
			Get back to spending quality time with your children and let CherryTree do the progress tracking.
		= link_to 'Register', register_path, :class => 'button green'
		= link_to 'Login', login_path, :class => 'button blue'
		%br.clear
		%br
		%p
			Enter your email address to sign up for our newsletter:
			= render 'shared/flash', :flash => flash 
			= render 'users/collect_email'
		%p.disclaimer
			Your personal information is safe with us.  We promise not to sell, market, or otherwise distribute your information.  
			Your email will only be used by us to invite you to The Cherry Tree's exclusive beta-test.






	
