-#
	#jquery_jplayer_1.jp-jplayer
	.jp-audio
		.jp-type-single
			#jp_interface_1.jp-interface
				%ul.jp-controls
					%li
						= link_to 'play', '#', :class => 'jp-play', :tabindex => 1
					%li
						= link_to 'pause', '#', :class => 'jp-pause', :tabindex => 1
					%li
						= link_to 'mute', '#', :class => 'jp-mute', :tabindex => 1
					%li
						= link_to 'unmute', '#', :class => 'jp-unmute', :tabindex => 1
				.jp-volume-bar
					.jp-volume-bar-value


#content
	#welcome_box
		%h1
			"Where Children Blossom"
		= render 'shared/flash', :flash => flash 
		
		%p
			Parents:
			%li= link_to 'Learn More', '/about'
			%li= link_to 'Register', register_path
			%li= link_to 'Login', login_path
		%p
			Children
			%li= link_to 'Login!', login_children_path
		
	
		%p
			Enter your email address to sign up for our newsletter:
			= render 'users/collect_email'
		%p.disclaimer
			Your personal information is safe with us.  We promise not to sell, market, or otherwise distribute your information.  
			Your email will only be used by us to invite you to The Cherry Tree's exclusive beta-test.






	
