= hidden_field_tag :dir, params[:dir]
= hidden_field_tag :sort, params[:sort]
- if @articles.empty?
	No Articles
- else
	%table.admin_table
		%th= sortable 'title'
		%th= sortable 'publish_at', "Publish Date"
		%th= sortable 'status'
		- for article in @articles
			%tr
				%td( style = 'width:200px;' )
					= link_to image_tag( 'view.png', :width => 20 ), blog_path( article )
					= link_to article.title, blog_path( article )
				%td.small= format_date_only article.publish_at
				%td.small= article.status
				%td.small
					= link_to image_tag( 'edit.png', :width => 20 ), edit_article_path( article ) 
					= link_to 'edit', edit_article_path( article )
				%td.small
					= link_to image_tag( 'trash.png', :width => 20 ), article, :method => 'delete', :class => 'confirm'
					= link_to 'delete', article, :method => 'delete', :class => 'confirm'
	- unless @articles.total_pages < 2
		.pagination
			.page_info
				= page_entries_info @articles
			= will_paginate @articles