- content_for :left_column do
	.admin_header
		.admin_title
			%h3
				Admin 
				Blog
		.new_button
			= link_to image_tag( 'add.png', :width => 16 ), new_article_url
			= link_to "New Article", new_article_url
		.clear
	
	= form_tag admin_blog_index_path, :method => :get, :id => 'search_form' do

		= text_field_tag :q, params[:q]
		= submit_tag 'Search', :class => 'button'
		|
		= link_to 'Clear', :sort => params[:sort], :dir => params[:dir], :q => nil
		#admin_table= render 'admin_table'
- content_for :right_column do
	= render :partial => 'admin/nav'