#blog_list
	- if @topic
		%h4
			= pluralize @articles.count, 'Article'
			in
			= @topic.capitalize
	- elsif @tag
		%h4
			= pluralize @articles.count, 'Article' 
			tagged
			= @topic
	- elsif @month
		%h4
			= pluralize @articles.count, 'Article'
			for
			= Date::MONTHNAMES[@month.to_i]
			= @year
	- elsif @year
		%h4
			= pluralize @articles.count, 'Article'
			for
			= @year
	#article_list
		- for article in @articles
			= render article
	%br
	%br
	= will_paginate @articles

#blog_sidebar
	= render :partial => 'sidebar'
