%p
	= f.label 'Goal:'
	= f.text_field :objective_name
%p
	Points per checkin (based on difficulty)?
	= f.select :point_value, [['25 (easy)',25], ['100 (medium)', 100], ['500 (hard)', 500]]
	= link_to image_tag('help.png', :width => 30, :title =>'Points are roughly equivalent to a penny'), "#"
	

%p
	Require parental confirmation?
	= f.select :req_confirm, [['Yes',1],['No',0]], :selected => 1
	= link_to image_tag('help.png', :width => 30, :title =>'Points are not awarded until a parent confirms'), "#"
	
%br
= f.submit "Create Objective"
