%p
	= f.label 'Objective:'
	= f.text_field :objective_name
%p
	= f.label 'Description (optional):'
	= f.text_area :objective_description, :class => 'tiny_area'
%p
	Award how many points per week:
	= f.text_field :point_value
-#
	%br
	How many times per week should
	= @child.display_name
	checkin for this objective?
	%br
	= f.text_field :times
	%br

	%br
	= f.check_box :req_confirm, :checked => @new_assignment.req_confirm
	Parental approval required?

%br
= f.submit
