%tr
	%td= link_to objective_assignment.objective.name, child_objective_assignment_path( @child, objective_assignment )
	%td
		= objective_assignment.times
		times per 
		= objective_assignment.period
	%td
		= objective_assignment.point_value
		points
	%td
		= link_to "Edit", edit_child_objective_assignment_path( @child, objective_assignment )
		|
		- if objective_assignment.is_active?
			= link_to "Turn Off", child_objective_assignment_path( @child, objective_assignment, :status => 'inactive' ), :method => :put
		- else
			= link_to "Turn On", child_objective_assignment_path( @child, objective_assignment, :status => 'active' ), :method => :put
		|
		= link_to "Trash", child_objective_assignment_path( @child, objective_assignment, :status => 'deleted' ), :method => :put

