%div[objective_assignment]
	.title_bar
		.data
			.name= objective_assignment.objective.name
			.info
				= objective_assignment.checkins.by( @child ).dated_between( week.beginning_of_week, week.end_of_week ).count
				out of
				= objective_assignment.times
				this week.
				
				This objective is worth:
				= objective_assignment.point_value
				Points
		.actions
			=link_to "Turn On", enable_child_objective_assignment_path( @child, objective_assignment ) if objective_assignment.status == 'inactive'
		 
			= link_to "Turn Off", disable_child_objective_assignment_path( @child, objective_assignment ) if objective_assignment.status == 'active'
			|
			= link_to "Trash", discard_child_objective_assignment_path( @child, objective_assignment )
		.clear

	- if objective_assignment.checkins.by( @child ).dated_between( week.beginning_of_week, week.end_of_week ).empty?
		%p.no_checkins
			No Checkins This Week!
	-else
		- for checkin in objective_assignment.checkins.by( @child ).dated_between( week.beginning_of_week, week.end_of_week )
			%div[checkin]			
				= checkin.user.display_name
				= checkin.expanded_status
				this
				%span.date
					on
					= format_date( checkin.created_at )
				- if checkin.objective_assignment.req_confirm == true and !checkin.approved?
					- approval_needed = true
					=form_tag approvals_path do
						= hidden_field_tag :checkin, checkin.id
						= submit_tag 'Approve'

				%br
				%br
		- if approval_needed
			= form_tag create_many_approvals_path(:start_time => week.beginning_of_week.getutc, :end_time => Time.now.getutc, :id => checkin.objective_assignment) do
				=submit_tag 'Approve All'


