%tr
	%td= link_to assignment.objective.name, child_objective_assignment_path( @child, assignment )

	%td
		= assignment.point_value
		points
	%td
		= assignment.status
	%td
		- if assignment.active?
			= link_to "Turn Off", child_objective_assignment_path( @child, assignment, :status => 'inactive' ), :method => :put
		- else
			= link_to "Turn On", child_objective_assignment_path( @child, assignment, :status => 'active' ), :method => :put
		|
		= link_to "Trash", child_objective_assignment_path( @child, assignment, :status => 'deleted' ), :method => :put

