-# Used to show the objective asignments for a child to the Parent

.child_profile.clearfix
	= render "children/sub_nav", :child => @child
		
	
	#active_assignment_table_header{ :style => 'margin-top:20px;' }
		%h1 Goals
	#active_assignment_table_body
		%p 
		Assign goals that 
		= @child.display_name
		should be working on daily. You can choose from the goals below, which were created by The CherryTree's child development professionals, or you can create custom goals based on 
		%span<= @child.display_name
		%span>'s specific goals.
		%p
		We recommend focusing on 5-10 goals at a time. When 
		= @child.display_name
		masters a particular goal, you can remove it from 
		- if @child.gender == 'male'
			his
		- else
			her
		list and focus on something new.
	- if @active_assignments.empty? && @requested_assignments.empty?
		%p
		= @child.display_name
		does not have any goals yet.
		You can add a goal from the list below, or create your own using the button above.
	- else
		#active_assignment_table_header{ :style => 'margin-top:20px;' }
			/ .float_left{ :style => 'width:50px;' }
			/ 	= image_tag 'awards/custom.jpg', :width => 40
			.float_left
				%h3 
					%span<= @child.display_name
					%span>'s Goals
			.clear
		#active_assignment_table_body
			%br
			.float_left{ :style => 'width:50px;'}
				&nbsp;
			.float_left{ :style => 'width:400px;'}
				%h4 Assigned Goals
			-#.float_left{ :style => 'width:350px;'}
				%label Description
			.float_left{ :style => 'width:150px;'}
				%h4 Cherries
			-#.float_left{ :style => 'width:50px;'}
				%label Parental Confirmation?
			.clear
			- for assignment in @active_assignments
				= render 'active_assignment', :assignment => assignment
			
	#custom_objectives
		- unless @custom_objectives.empty?
			.category.float_left{ :style => 'width:400px;margin-top:20px;' }
				.float_left{ :style => 'width:50px;' }
					= image_tag( 'awards/custom.jpg', :width => 36 )
				.float_left
					%h3 Custom Goals
				.clear
				- for objective in @custom_objectives
					= render 'objective_to_assign', :objective => objective		
			

				
	.clear	
		&nbsp;
	.new_thing.button_flat
		= link_to "Continue", "", :class => 'save_form'
	.clear	
		&nbsp;
	/ .top-header.clearfix
	/ 	%span.title
	/ 		Create objectives for 
	/ 		= @child.display_name
	/ 		here.
	/ 	.new_thing.button_flat
	/ 		= link_to "+ Create Custom Goal", "#", :class => 'open_new_objective_form'

	#accordion.goals	
		- for cat in ObjectiveCategory.all
			-next if cat.objectives.empty?
			%h3.track= "#{cat.name} Goals"
			%div
				%ul
					- for subcat in cat.objective_subcategories
						%h4
							=subcat.name
						-for objective in cat.objectives - @child.active_assigned_objectives
							-if objective.objective_subcategory == subcat
								%li
									%label
										= render 'objective_to_assign', :objective => objective
						%br
		%h3.track= "Custom Goals"
		%div
			= form_for [ @child, ObjectiveAssignment.new ] do |f|
				%label Goal:
				%br
				= f.text_field :objective_name, :class => 'title_field'
				%br
				%label Cherries Per Checkin:
				%br
				= f.text_field :point_value, :class => 'small'
				cherries
				%br
				= f.submit 'Enter', :class => 'button_flat'
