-# Used to show the objective asignments for a child to the Parent

.child_profile
	= render "children/sub_nav", :child => @child
	
	.new_thing
		= link_to image_tag( 'add.png', :width => 20 ), "#", :class => 'open_modal', :id => 'objective'
		= link_to "Assign New Goal", "#", :class => 'open_modal', :id => 'objective'
	%table( width=800 )
		%th Goal
		%th Frequency
		%th Points
		%th Actions
		= render @assignments
			
	#new_objective.modal{ :title => "New Goal for #{@child.display_name}"}
		%h2
			New Goal for
			= @child.display_name
	
		= form_for [ @child, @new_assignment ] do |f|
			= render 'form', :f => f

%br.clear
%br