-# Used to show the objective asignments for a child to the Parent

.child_profile.clearfix
	= render "children/sub_nav", :child => @child
	
	.top-header.clearfix
		%span.title
			Create objectives for 
			= @child.name.capitalize
			here.
		.new_thing.button_flat
			= link_to "+ Create Custom Goal", "#", :class => 'open_new_objective_form'
			
	= form_for [ @child, ObjectiveAssignment.new ], :html => { :style => 'display:none;' } do |f|
		%b Goal:
		%br
		= f.text_field :objective_name, :class => 'title_field'
		%br
		%b Description:
		%br
		= f.text_field :description, :style => 'width:500px;'
		%br
		%b Cherries Per Checkin:
		%br
		= f.text_field :point_value, :class => 'small'
		cherries
		%br
		= f.submit 'Enter', :class => 'button_flat'
		|
		= link_to 'Cancel', "#", :class => 'close_new_objective_form'
		
	- if @active_assignments.empty? && @requested_assignments.empty?
		#active_assignment_table{ :style => 'margin-top:20px;' }
			#empty_message
				Objectives are behaviors, thoughts, or habits that
				= @child.name.capitalize
				should be working on and reminded of daily.
				%p
				= @child.name.capitalize
				does not have any objectives yet.
				You can add an award from the list below, or create your own using the button above.
	- else
		#active_assignment_table{ :style => 'margin-top:20px;' }
			.float_left{ :style => 'width:50px;' }
				= image_tag 'awards/custom.jpg', :width => 40
			.float_left
				%h3 Assigned Goals
			.clear
			.float_left{ :style => 'width:50px;'}
				&nbsp;
			.float_left{ :style => 'width:230px;'}
				%b Name
			.float_left{ :style => 'width:350px;'}
				%b Description
			.float_left{ :style => 'width:150px;'}
				%b Cherries
			.float_left{ :style => 'width:50px;'}
				%b Parental Confirmation?
			.clear
			- for assignment in @active_assignments
				= render 'active_assignment', :assignment => assignment
			
	#custom_objectives
		- unless @custom_objectives.empty?
			.category.float_left{ :style => 'width:400px;margin-top:20px;' }
				.float_left{ :style => 'width:50px;' }
					= image_tag( 'awards/custom.jpg', :width => 36 )
				.float_left
					%h3 Custom Awards
				.clear
				- for objective in @custom_objectives
					= render 'objective_to_assign', :objective => objective		
			

				
	.clear	
		&nbsp;
	.new_thing.button_flat
		= link_to "Save Changes", "", :class => 'save_form'
	#accordion.goals	
		- for cat in ObjectiveCategory.all
			-next if cat.objectives.empty?
			%h3.track= "#{cat.name} Goals"
			%div
				%ul
					-for objective in cat.objectives - @child.active_assigned_objectives
						%li
							%label
								= render 'objective_to_assign', :objective => objective
	.new_thing.button_flat
		= link_to "Save Changes", :class => 'save_form'