-# Used to show the objective asignments for a child to the Parent

.child_profile
	= render "children/sub_nav", :child => @child
	
	.top-header.clearfix
		%span.title
			Create objectives for 
			= @child.name.capitalize
			here.
		.new_thing.button_flat
			= link_to "+ Create Custom Goal", "#", :class => 'open_new_objective_form'
			
	= form_for [ @child, ObjectiveAssignment.new ], :html => { :style => 'display:none;' } do |f|
		%b Goal:
		%br
		= f.text_field :objective_name, :class => 'title_field'
		%br
		%b Description:
		%br
		= f.text_field :description, :style => 'width:500px;'
		%br
		%b Cherries Per Checkin:
		%br
		= f.text_field :point_value, :class => 'small'
		cherries
		%br
		= f.submit 'Enter', :class => 'button_flat'
		|
		= link_to 'Cancel', "#", :class => 'close_new_objective_form'
		
	- if @assignments.empty? && @requested_assignments.empty?
		%p
			Objectives are behaviors, thoughts, or habits that
			= @child.name.capitalize
			should be working on and reminded of daily.
		%p
			= @child.name.capitalize
			does not have any objectives yet.
			You can add an award from the list below, or create your own using the button above.
	- else
		%div{ :style => 'margin-top:20px;' }
			.float_left{ :style => 'width:50px;' }
				= image_tag 'awards/custom.jpg', :width => 40
			.float_left
				%h3 Assigned Goals
			.clear
			.float_left{ :style => 'width:50px;'}
				&nbsp;
			.float_left{ :style => 'width:230px;'}
				%b Name
			.float_left{ :style => 'width:350px;'}
				%b Description
			.float_left{ :style => 'width:150px;'}
				%b Cherries
			.float_left{ :style => 'width:50px;'}
				%b Parental Confirmation?
			.clear
			- for assignment in @assignments
				.float_left{ :style => 'width:50px;'}
					= check_box_tag "assign_objective", assignment.objective.id, true, :objective => assignment.objective.id, :class => 'assign_objective', :child => @child.id, :assignment => assignment.id

				.float_left{ :style => 'width:230px;'}
					= assignment.objective.name

				.float_left{ :style => 'width:350px;'}
					= text_area_tag :objective_description, assignment.description, :id => "objective_desc_#{assignment.objective.id}", :class => "objective_desc", :style => 'width:300px;', :child => @child.id, :assignment => assignment.id

				.float_left{ :style => 'width:150px;' }
					= text_field_tag :objective_points, assignment.point_value, :id => "objective_points_#{assignment.objective.id}", :class => "objective_points", :style => 'width:100px;', :child => @child.id, :assignment => assignment.id

				.float_left{ :style => 'width:50px;'}
					= check_box_tag "req_conf_assignment", assignment.id, assignment.req_confirm, :class => 'req_conf_assignment', :child => @child.id, :assignment => assignment.id

				.clear

		- unless @requested_assignments.empty?
			%div{ :style => 'margin-top:20px;' }
				.float_left{ :style => 'width:50px;' }
					= image_tag 'awards/custom.jpg', :width => 40
				.float_left
					%h3 Requested Objectives
				.clear
				.float_left{ :style => 'width:50px;'}
					&nbsp;
				.float_left{ :style => 'width:300px;'}
					%b Name
				.float_left{ :style => 'width:350px;'}
					%b Description
				.float_left{ :style => 'width:150px;'}
					%b Point Value
					(Cherries)
				.clear
			
				- for assignment in @requested_assignments
					.float_left{ :style => 'width:50px;'}
						= check_box_tag "assign_objective", assignment.objective.id, @child.active_assigned_objectives.include?( assignment.objective ), :objective => assignment.objective.id, :class => 'assign_objective', :child => @child.id, :assignment => assignment.id

					.float_left{ :style => 'width:300px;'}
						= assignment.objective.name

					.float_left{ :style => 'width:350px;'}
						= text_area_tag :objective_description, assignment.description, :id => "objective_desc_#{assignment.objective.id}", :class => "objective_desc", :style => 'width:300px;', :child => @child.id, :assignment => assignment.id

					.float_left{ :style => 'width:150px;' }
						= text_field_tag :objective_points, assignment.point_value, :id => "objective_points_#{assignment.objective.id}", :class => "objective_points", :style => 'width:100px;', :child => @child.id, :assignment => assignment.id
					.clear
	#accordion.goals	
		- unless @custom_objectives.empty?
			%h3 Custom Goals
			%div
				%ul
					- for objective in @custom_objectives
						%li
							%label
								= check_box_tag "assign_objective", objective.id, @child.active_assigned_objectives.include?( objective ), :objective => objective.id, :class => 'assign_objective', :child => @child.id
								= objective.name
	
		- unless @academic_objectives.empty?
			%h3 Academic Goals
			%div
				%ul
					- for objective in @academic_objectives
						%li
							%label
								= check_box_tag "assign_objective", objective.id, @child.active_assigned_objectives.include?( objective ), :objective => objective.id, :class => 'assign_objective', :child => @child.id
								= objective.name
			
		- unless @behavior_objectives.empty?
			%h3 Behavior Goals
			%div				
				%ul
					- for objective in @behavior_objectives
						%li
							%label
								= check_box_tag "assign_objective", objective.id, @child.active_assigned_objectives.include?( objective ), :objective => objective.id, :class => 'assign_objective', :child => @child.id
								= objective.name
			
		- unless @health_objectives.empty?
			%h3 Health Goals
			%div
				%ul
					- for objective in @health_objectives
						%li
							%label
								= check_box_tag "assign_objective", objective.id, @child.active_assigned_objectives.include?( objective ), :objective => objective.id, :class => 'assign_objective', :child => @child.id
								= objective.name
			
		- unless @social_objectives.empty?
			%h3 Social Goals
			%div
				%ul
					- for objective in @social_objectives
						%li
							%label
								= check_box_tag "assign_objective", objective.id, @child.active_assigned_objectives.include?( objective ), :objective => objective.id, :class => 'assign_objective', :child => @child.id
								= objective.name


%br.clear
%br