-# Used to show the objective asignments for a child to the Parent

.child_profile
	= render "children/sub_nav", :child => @child
	
	.new_thing
		= link_to image_tag( 'add.png', :width => 20 ), "#", :class => 'open_modal', :id => 'objective'
		= link_to "Assign New Objective", "#", :class => 'open_modal', :id => 'objective'
	- if @assignments.empty?
		%br
		%br
		%p
			Objectives are behaviors, thoughts, or habits that
			= @child.name.capitalize
			should be working on and reminded of daily.
		%p
			= @child.name.capitalize
			does not have any objectives yet.
			= link_to image_tag( 'add.png', :width => 20 ), "#", :class => 'open_modal', :id => 'objective'
			= link_to "Let's create one.", "#", :class => 'open_modal', :id => 'objective'
	- else
		%table( width=600 )
			%th 
				%b Objective
			%th 
				%b Points per checkin
			%th
				%b Status
			%th 
				%b Actions
			- for assignment in @assignments
				= render 'objective_assignment_table', :assignment => assignment
		
	#new_objective.modal{ :title => "New Objective for #{@child.display_name}"}
		%h2
			New Objective for
			= @child.display_name
	
		= form_for [ @child, @new_assignment ] do |f|
			= render 'form', :f => f

%br.clear
%br