-# Used to show the objective asignments to a child 

= render 'child/nav'

- if @assignments.present?
	%h3 Your Goals
	- for assignment in @assignments
		%b= assignment.objective.name
		%br
		= assignment.times
		times per
		= assignment.period

		- if assignment.checkin_in_last?( 1.day.ago )
			%br You checked in today!
		- else
			= render :partial => 'checkins/form', :assignment => assignment
				
		%br
		%br
	
- else
	%h3 No Goals