-# Used to show the objective asignments to a child 
.objective_dash.clearfix
	.top-header.clearfix
		%h3
			Your Goals

	- if @assignments.present?
		- for @assignment in @assignments
			- if @assignment.checkin_in_last?( Time.now.beginning_of_day )
				.objectives.checked
					%b= @assignment.objective.name
					( 
					= @assignment.point_value
					cherries
					)
					%p
						You checked in today!
			- else
				.objectives
					%b= @assignment.objective.name
					( 
					= @assignment.point_value
					cherries
					)
					= render :partial => 'checkins/form'
	
	- else
		%h3 No Goals
