-# Used to show the objective asignments to a child 

= render 'children/banner', :title => 'Objectives'
= render 'children/nav'

- if @assignments.present?
	%h3 Your Objectives
	- for assignment in @assignments
		%b= assignment.objective.name
		%br
		= assignment.times
		times per
		= assignment.period

		- if assignment.checkin_in_last?( 1.day.ago )
			%br You did this today!
		- else
			= form_for Checkin.new do |f|
				= f.hidden_field :objective_assignment_id, :value => assignment.id
				= f.hidden_field :user_id, :value => @current_user.id
				= f.hidden_field :status, :value => 'did'
				= f.submit
		%br
		%br
	
- else
	%h3 No Objectives