-# Used to show the objective asignments for a child to the Parent
	
%h1
	= possessize @current_user.name
	Children
= render 'users/nav'

%br
.child_profile
	= render 'children/child_sub_nav', :child => @child
	%h2
		= @child.display_name
		Objectives
		
	.stuff
		= link_to "Assign New Objective", "#", :id => 'open_modal'
		
	.tabs
		%ul
			%li= link_to 'This Week', "#this_week"
			%li= link_to 'Last Week', "#last_week"
		#this_week
			%h3 This week
			(
			Ending
			= format_date_only @this_week.end_of_week
			)
			= render @assignments, :week => @this_week
	
		#last_week				
			%h3 Last week
			(
			Ending
			= format_date_only @last_week.end_of_week
			)
			= render @assignments, :week => @last_week
			
	#modal_form
		%h2
			New Objective for
			= @child.display_name
	
		= form_for [ @child, @new_assignment ] do |f|
			= f.label 'Objective:'
			= f.text_field :objective_name
			= f.label 'Description (optional):'
			= f.text_area :objective_description, :class => 'tiny_area'
			%br
			How many times per week should
			= @child.display_name
			checkin for this objective?
			%br
			= f.text_field :times
			%br
			Points Per Week:
			%br
			= f.text_field :point_value
			%br
			Parental Approval Required?
			= f.check_box :req_confirm, :checked => @new_assignment.req_confirm
			%br
			= f.submit


%br.clear
%br