-# Used to show the objective asignments for a child to the Parent
	
%h1
	= possessize @current_user.name
	Children
= render 'users/nav'

%br
.child_profile
	.pic
		= avatar_tag( @child, :profile )
	.name_nav
		.name
			= @child.display_name
		.nav
			= link_to "Objectives", child_objective_assignments_path( @child )
			|
			= link_to "Awards"
			|
			= link_to "Profile"
			|
			= link_to "Send Note", new_note_path( :to => @child.id )
		.stuff
			= link_to "Assign New Objective", new_child_objective_assignment_path( @child )
	%hr.clear
	%h2
		= @child.display_name
		Objectives
		
		%h4 This week
		
		- for assignment in @assignments
			%div[assignment]
				%b= assignment.objective.name
				= assignment.times
				per week
				for
				= assignment.point_value
				Points
				||
				On / Off
				Trash
			
				- if assignment.checkins.by( @child ).empty?
					%p
						%b No Checkins!
				-else
					- for checkin in assignment.checkins.by( @child )
						%li
							= checkin.expanded_status
							on
							= format_date( checkin.created_at )
						%br
				- if WeeklyApproval.for_assignment( assignment ).for_week_ending( @this_week ).first
					Already Approved
				- else
					= form_for WeeklyApproval.new do |f|
						= f.hidden_field :objective_assignment_id, :value => assignment.id
						= f.hidden_field :week_ending, :value => @this_week
						= f.select :status, [ ['Great! 100%', 'great'], ['Good (50%)', 'good'], ['Work on It (0%)', 'no good'] ]
						= f.submit
						
		%h4 Last week

		- for assignment in @assignments
			%div[assignment]
				%b= assignment.objective.name
				= assignment.times
				per week
				for
				= assignment.point_value
				Points
				||
				On / Off
				Trash

				- if assignment.checkins.by( @child ).empty?
					%p
						%b No Checkins!
				-else
					- for checkin in assignment.checkins.by( @child )
						%li
							= checkin.expanded_status
							on
							= format_date( checkin.created_at )
						%br
				- if WeeklyApproval.for_assignment( assignment ).for_week_ending( @last_week ).first
					Already Approved
				- else
					= form_for WeeklyApproval.new do |f|
						= f.hidden_field :objective_assignment_id, :value => assignment.id
						= f.hidden_field :week_ending, :value => @last_week
						= f.select :status, [ ['Great! 100%', 'great'], ['Good (50%)', 'good'], ['Work on It (0%)', 'no good'] ]
						= f.submit



%br.clear
%br