-# Used to show the objective asignments for a child to the Parent
	
%h1
	= possessize @current_user.name
	Children
= render 'users/nav'

%br
.child_profile
	= render "children/child_sub_nav", :child => @child
	%h2
		= possessize @child.display_name
		Objectives
		
	.stuff
		= link_to "Assign New Objective", "#", :class => 'open_modal', :id => 'objective'
		
	.tabs
		%ul
			%li= link_to 'This Week', "#this_week"
			%li= link_to 'Last Week', "#last_week"
		#this_week
			%h3 This week
			(
			Ending
			= format_date_only @this_week.end_of_week
			)
			= render @assignments, :week => @this_week
	
		#last_week				
			%h3 Last week
			(
			Ending
			= format_date_only @last_week.end_of_week
			)
			= render @assignments, :week => @last_week
			
	#new_objective.modal{ :title => "New Objective for #{@child.display_name}"}
		%h2
			New Objective for
			= @child.display_name
	
		= form_for [ @child, @new_assignment ] do |f|
			= render 'form', :f => f

%br.clear
%br