-# Used to show the objective asignments for a child to the Parent
	
%h1
	= possessize @current_user.name
	Children
= render 'users/nav'

%br
.child_profile
	= render 'children/child_sub_nav', :child => @child
	%h2
		= @child.display_name
		Objectives
		
	.stuff
		= link_to "Assign New Objective", new_child_objective_assignment_path( @child )
		
		
	#this_week
		%h3 This week
		(
		Ending
		= format_date_only @this_week.end_of_week
		)
		= render @assignments, :week => @this_week
	
	#last_week				
		%h3 Last week
		(
		Ending
		= format_date_only @last_week.end_of_week
		)
		= render @assignments, :week => @last_week
			



%br.clear
%br