-# Used to assign objective to a Child
%h1
	= possessize @current_user.name
	Children
= render 'users/nav'

%h3 
	Add a Child Step 2: Create an objective for
	= @child.display_name

Objectives can be anything you'd like 
= @child.display_name.capitalize
to work on or be mindful of.
= @child.display_name.capitalize
will be able to check in on 
= @child.possessive_gender
objectives and earn points for them.  You can choose how many points to award per week, and whether to award the points only when you approve (by checking the Parental Approval Required? box) or award the points automatically whenever
= @child.display_name
checks in.

%hr

= form_for [ @child, @new_assignment ] do |f|
	= hidden_field_tag :first, :true
	= render 'form', :f => f