.child_profile
	= render "children/sub_nav", :child => @child
	
	.top-header.clearfix
		%span.title
			New Objective for 
			= @child.display_name
			
	- for obj in Site.first.created_objectives
		.float_left{ :style => 'width:300px;' }
			%b= obj.name
		.float_left{ :style => 'width:300px;' }
			.tiny_copy= obj.description
		.float_left{ :style => 'width:150px;' }
			= obj.category
		
		%hr.clear