.child_profile
	= render "children/sub_nav", :child => @child
	
	%h2
		= possessize @child.display_name
		Objective:
		= @assignment.objective.name
	Began on:
	= format_date_only @assignment.checkins.first.created_at
	%br
	Has checked in
	= pluralize @assignment.checkins.count, 'time'
	so far.
	
	= render @assignment.checkins

