- content_for :left_column do
	.new.button
		= link_to image_tag( 'add.png', :width => 20 ), new_wishlist_path
		= link_to 'New Wishlist', new_wishlist_path
	
	%h1 Wishlists Admin 
	%table.admin_table
		%thead
			%th{ :colspan => 2 }
		%tbody
			- for wishlist in @wishlists
				%tr{ :class => cycle(:odd, :even) }
					%td
						= link_to image_tag( 'view.png', :width => 20 ), wishlist
						= link_to 'view', wishlist
					%td
						= link_to image_tag( 'edit.png', :width => 20 ), edit_wishlist_path( wishlist )
						= link_to 'edit', edit_wishlist_path( wishlist )
					%td
						= link_to image_tag( 'trash.png', :width => 20 ), wishlist, :confirm => 'Are you sure?', :method => :delete
						= link_to 'delete', wishlist, :confirm => 'Are you sure?', :method => :delete


