%div[activity]
	- if activity.user == @current_user
		You
	- else
		= activity.user.display_name
		
	= activity.verb
		
	= time_ago_in_words( activity.created_at )
	ago.
	
	- if activity.target.present? && activity.target.is_a?( Checkin ) && activity.target.objective_assignment.present? && @current_user.children.include?( activity.user )
		= image_tag 'green_check.png', :width => 20
		Approve
	- unless activity.comments.empty?
		= render activity.comments
		
	= form_for [ activity, Comment.new ] do |f|
		= f.text_field :content
		= f.submit, :class => 'button_flat'
		
	
	%br.clear

	