.child_profile

	= render 'children/sub_nav', :child => @child
	%br.clear

	%h1{ :style => 'margin-top:30px;' }
		Activities
	%p 
		Our team of child development professionals came up with instructional lessons and quizzes in each of the developmental categories below.
	%p{ :style => 'padding-bottom:20px;' } 
		When 
		= @child.display_name
		logs in,
		= @child.pronoun_gender_subject
		will be able to earn cherries by completing the activities you assign. 
		- if @child.lessons.empty? 
			%p
			= @child.display_name
			does not have any activities yet.
			You can add an activity from the list below.
		- else
			#active_assignment_table_header{ :style => 'margin-top:20px;' }
				.float_left
					%h3 
						%span<= @child.display_name
						%span>'s Assignments
				.clear
			#active_assignment_table_body
				%br
				.float_left{ :style => 'width:50px;'}
					&nbsp;
				.float_left{ :style => 'width:400px;'}
					%h4 Assigned Activities
				.float_left{ :style => 'width:150px;'}
					%h4 Cherries
				.clear
				- for assignment in @active_assignments
					= render 'active_assignment', :assignment => assignment
					
	.new_thing.button_flat
		= link_to "Save Changes", child_path( @child )

	.top-header.clearfix
		%span.title
		-#.new_thing.button_flat
			= link_to 'Buy Lessons!', ""


		- for category in LessonCategory.all
			%h3
				= category.name
			%br
			%br.clear
			
			- for lesson in @lessons
				-if lesson.lesson_category == category
					%p
						= lesson.name
						- if lesson.lesson_assignments.find_by_user_id( @child.id ) && lesson.lesson_assignments.find_by_user_id( @child.id ).completed_by?( @child )
							Completed on:
							= format_date_only lesson.lesson_viewings.find_by_user_id( @child.id ).updated_at
						- elsif lesson.lesson_viewings.find_by_user_id( @child.id ) && lesson.lesson_viewings.find_by_user_id( @child.id ).screen_id > 0
							Started on:
							= format_date_only lesson.lesson_viewings.find_by_user_id( @child.id ).created_at
						- else
							Not Viewed
						- if @child.lessons.include? ( lesson )
							= link_to 'Unassign', child_lesson_assignment_path( @child, lesson, :status => 'inactive' ), :method => :put
						- else
							= link_to 'Assign', child_lesson_assignments_path( @child, :lesson_id => lesson.id ), :method => :post
						|
						= link_to 'View', child_lesson_path( @child, :id => lesson.id )

%br.clear
.new_thing.button_flat
	= link_to "Save Changes", child_path( @child ), :class => 'save_form'
%br