.child_profile

	= render 'children/sub_nav', :child => @child
	
	.top-header.clearfix
		%span.title
			Assign lessons and activities here.
	
		.new_thing.button_flat
			= link_to 'Buy Lessons!', ""

	%table( width = 600 )
		%th
			%b Name
		%th
			%b Status
		%th
			%b Activate
		- for lesson in @lessons
			%tr
				%td= lesson.name
				%td
					- if lesson.lesson_assignments.find_by_user_id( @child.id ) && lesson.lesson_assignments.find_by_user_id( @child.id ).completed_by?( @child )
						Completed on:
						= format_date_only lesson.lesson_viewings.find_by_user_id( @child.id ).updated_at
					- elsif lesson.lesson_viewings.find_by_user_id( @child.id ) && lesson.lesson_viewings.find_by_user_id( @child.id ).screen_id > 0
						Started on:
						= format_date_only lesson.lesson_viewings.find_by_user_id( @child.id ).created_at
					- else
						Not Viewed
				%td
					- if @child.lessons.include? ( lesson )
						= link_to 'Unassign', child_lesson_assignment_path( @child, lesson, :status => 'inactive' ), :method => :put
					- else
						= link_to 'Assign', child_lesson_assignments_path( @child, :lesson_id => lesson.id ), :method => :post

%br.clear
%br