= link_to 'BEHAVIOR', '/store/behavior', :class => 'store-btn behavior'
= link_to 'SOCIAL & EMOTIONAL', '/store/social', :class => 'store-btn social'
= link_to 'JUST FOR FUN', '/store/fun', :class => 'store-btn fun'
= link_to 'ACADEMICS', '/store/academics', :class => 'store-btn academics'
= link_to 'HEALTH', '/store/health', :class => 'store-btn health'
= link_to 'SHOP ALL', '/store/all', :class => 'store-btn all'