.child_profile
	%h1
		=@category.name
	%br
	%h3.store-tagline
		Cherry Tree has hand picked these products to help your child...

	- for product in @products
		-# ITERATE through results = below is template for those results
		.store_item.clearfix
			.store_title
				= product.name
				(
				= number_to_currency product.price
				)
			.store_thumb.float_left
				= image_tag( product.amazon_image_url, :width => 200 )
			.store_data.float_left
				.store_desc
					= product.amazon_description.html_safe unless product.amazon_description.blank?
			.store_actions.float_left
				= link_to 'Buy', product.amazon_url, :target => "_blank", :class => 'button_flat'
				=# link_to '+ Add As Reward'.html_safe, '/TODO-buy', :class => 'button_flat'
		%hr
