%link( rel="shortcut icon" href="/images/favicon.ico" )

= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Neucha&subset=latin'
= stylesheet_link_tag 'screen.css', :media => 'screen, projection'

/[if IE]
	= stylesheet_link_tag 'ie.css', :media => 'screen, projection'

= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js','http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js', 'jquery.cookie', 'rails','application'

= csrf_meta_tag

= get_description

%title
	= get_title