!!!strict
%html
	%head
		= render :partial => 'layouts/meta'
		= init_tinymce_hammer_if_required
	%body
		#container
			= render :partial => 'shared/header'
			#bd
				.column1
					= render :partial => 'shared/flash', :locals => { :flash => flash }
					.pad
						= yield :left_column
				.column2
					.pad
						= yield :right_column
			= render :partial => 'shared/footer'
		= render :partial => 'shared/analytics'
