!!!strict
%html
	%head
		= render 'layouts/meta', :css => 'app'
	%body
		#big_tree
			= image_tag 'big_tree.png'
		#container
			= render 'shared/header'
			#bd
				#content
					= render 'shared/flash', :flash => flash 
					= yield
					%br.clear
		= render 'shared/analytics'