!!!strict
%html
	%head
		= render 'layouts/meta', :css => 'home'
		= stylesheet_link_tag 'jplayer_skin/jplayer.blue.monday.css'
		= javascript_include_tag 'jquery.jplayer.min'
		
		:javascript
			$(document).ready(function(){
				$("#jquery_jplayer_1").jPlayer({
					ready: function () {
						$(this).jPlayer("setMedia", {
							m4a: "/audio/cherrytree.m4a",
							oga: "/audio/cherrytree.ogg", 
							mp3: "/audio/cherrytree.mp3",
							wav: "/audio/cherrtree.wav"
						}).jPlayer("play");
					},
					ended: function (event) {
						$(this).jPlayer("play");
					},
					swfPath: "/javascripts",
					supplied: "m4a, oga, mp3, wav"
				});
			});

	%body
		#wrapper
			#container
				= render 'shared/home_header'
				#bd
					= yield
				= render 'shared/footer'
				= render 'shared/analytics'