!!!strict
%html
	%head
		= render 'layouts/meta', :css => 'home'
		= javascript_include_tag "audio"
	%body
		#container
			= render 'shared/header'
			#bd
				= yield
		= render 'shared/footer'
		= render 'shared/analytics'