!!!strict
%html
	%head
		= render 'layouts/meta', :css => 'home'
	%body
		#container
			= render 'shared/header'
			#bd
				= yield
		%audio( loop='true' src='/audio.mp3' autoplay='true' )
		= render 'shared/footer'
		= render 'shared/analytics'