!!!strict
%html
	%head
		= stylesheet_link_tag 'jplayer_skin/jplayer.blue.monday.css'
		= render 'layouts/meta', :css => 'home'
		= javascript_include_tag 'jquery.jplayer.min'
		:javascript
			$(document).ready(function(){
				$("#jquery_jplayer_1").jPlayer({
					ready: function () {
						$(this).jPlayer("setMedia", {
							m4a: "/audio/cherrytree.m4a",
							oga: "/audio/cherrytree.ogg"
						}).jPlayer("play");
					},
					ended: function (event) {
						$(this).jPlayer("play");
					},
					swfPath: "/javascripts",
					supplied: "m4a, oga"
				});
			});
	%body
		#container
			= render 'shared/header'
			#bd
				= yield
		= render 'shared/footer'
		= render 'shared/analytics'