!!!strict
%html
	%head
		= render 'layouts/meta', :css => 'underground'
	%body
		#container
			= render 'shared/home_header'
			#bd
				#content
					= render 'shared/flash', :flash => flash 
					= yield
		= render 'shared/footer'
		= render 'shared/analytics'